<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/guang3_dong1_dong1_guan1.js"></script>

</head>
<body>
    <div id="546ccec751ee4c37beafd36b5af55212" class="chart-container" style="width:600px; height:500px;"></div>
    <script>
        var chart_546ccec751ee4c37beafd36b5af55212 = echarts.init(
            document.getElementById('546ccec751ee4c37beafd36b5af55212'), 'white', {renderer: 'canvas'});
        var option_546ccec751ee4c37beafd36b5af55212 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "mapType": "\u4e1c\u839e",
            "data": [
                {
                    "name": "\u4e07\u6c5f\u533a",
                    "value": 24165
                },
                {
                    "name": "\u4e1c\u5751\u9547",
                    "value": 18014
                },
                {
                    "name": "\u4e1c\u57ce\u533a",
                    "value": 21508
                },
                {
                    "name": "\u4e2d\u5802\u9547",
                    "value": 14317
                },
                {
                    "name": "\u4f01\u77f3\u9547",
                    "value": 15383
                },
                {
                    "name": "\u51e4\u5c97\u9547",
                    "value": 24366
                },
                {
                    "name": "\u5357\u57ce\u533a",
                    "value": 30976
                },
                {
                    "name": "\u539a\u8857\u9547",
                    "value": 19772
                },
                {
                    "name": "\u5858\u53a6\u9547",
                    "value": 21509
                },
                {
                    "name": "\u5927\u5cad\u5c71\u9547",
                    "value": 24592
                },
                {
                    "name": "\u5927\u6717\u9547",
                    "value": 20216
                },
                {
                    "name": "\u5bee\u6b65\u9547",
                    "value": 21880
                },
                {
                    "name": "\u5e38\u5e73\u9547",
                    "value": 13450
                },
                {
                    "name": "\u671b\u725b\u58a9\u9547",
                    "value": 17641
                },
                {
                    "name": "\u677e\u5c71\u6e56\u9ad8\u65b0\u533a",
                    "value": 36705
                },
                {
                    "name": "\u6865\u5934\u9547",
                    "value": 14898
                },
                {
                    "name": "\u6a1f\u6728\u5934\u9547",
                    "value": 13661
                },
                {
                    "name": "\u6a2a\u6ca5\u9547",
                    "value": 13965
                },
                {
                    "name": "\u6c99\u7530\u9547",
                    "value": 18311
                },
                {
                    "name": "\u6d2a\u6885\u9547",
                    "value": 18721
                },
                {
                    "name": "\u6e05\u6eaa\u9547",
                    "value": 19957
                },
                {
                    "name": "\u77f3\u6392\u9547",
                    "value": 17850
                },
                {
                    "name": "\u77f3\u78a3\u9547",
                    "value": 19674
                },
                {
                    "name": "\u77f3\u9f99\u9547",
                    "value": 17042
                },
                {
                    "name": "\u8336\u5c71\u9547",
                    "value": 20463
                },
                {
                    "name": "\u839e\u57ce\u533a",
                    "value": 23417
                },
                {
                    "name": "\u864e\u95e8\u9547",
                    "value": 25481
                },
                {
                    "name": "\u9053\u6ed8\u9547",
                    "value": 22984
                },
                {
                    "name": "\u957f\u5b89\u9547",
                    "value": 27971
                },
                {
                    "name": "\u9ad8\u57d7\u9547",
                    "value": 24707
                },
                {
                    "name": "\u9ebb\u6d8c\u9547",
                    "value": 18041
                },
                {
                    "name": "\u9ec4\u6c5f\u9547",
                    "value": 21664
                }
            ],
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "zoom": 1,
            "mapValueCalculation": "sum",
            "showLegendSymbol": true,
            "emphasis": {}
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "piecewise",
        "min": 12450,
        "max": 36705,
        "textStyle": {
            "color": "green"
        },
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 14,
        "borderWidth": 0
    }
};
        chart_546ccec751ee4c37beafd36b5af55212.setOption(option_546ccec751ee4c37beafd36b5af55212);
    </script>
</body>
</html>
