<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="ae61166f311f4ee1988c089cec56992a" class="chart-container" style="width:450px; height:280px;"></div>
    <script>
        var chart_ae61166f311f4ee1988c089cec56992a = echarts.init(
            document.getElementById('ae61166f311f4ee1988c089cec56992a'), 'white', {renderer: 'canvas'});
        var option_ae61166f311f4ee1988c089cec56992a = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "symbolSize": 10,
            "data": [
                [
                    235.99,
                    1290.0
                ],
                [
                    96.26,
                    360.0
                ],
                [
                    295.51,
                    998.0
                ],
                [
                    87.23,
                    230.0
                ],
                [
                    94.35,
                    310.0
                ],
                [
                    270.0,
                    1680.0
                ],
                [
                    98.33,
                    340.0
                ],
                [
                    74.44,
                    290.0
                ],
                [
                    63.58,
                    129.0
                ],
                [
                    55.0,
                    155.0
                ],
                [
                    83.46,
                    318.0
                ],
                [
                    73.3,
                    158.0
                ],
                [
                    92.03,
                    328.0
                ],
                [
                    95.89,
                    285.0
                ],
                [
                    93.18,
                    335.0
                ],
                [
                    96.3,
                    370.0
                ],
                [
                    82.25,
                    295.0
                ],
                [
                    97.56,
                    303.0
                ],
                [
                    104.13,
                    440.0
                ],
                [
                    92.48,
                    330.0
                ],
                [
                    83.2,
                    305.0
                ],
                [
                    83.2,
                    305.0
                ],
                [
                    123.71,
                    640.0
                ],
                [
                    96.69,
                    323.0
                ],
                [
                    94.09,
                    308.0
                ],
                [
                    98.13,
                    338.0
                ],
                [
                    96.26,
                    362.0
                ],
                [
                    99.21,
                    320.0
                ],
                [
                    96.0,
                    290.0
                ],
                [
                    101.68,
                    435.0
                ],
                [
                    93.16,
                    133.0
                ],
                [
                    93.5,
                    133.0
                ],
                [
                    96.95,
                    150.0
                ],
                [
                    93.61,
                    130.0
                ],
                [
                    97.0,
                    148.0
                ],
                [
                    93.53,
                    155.0
                ],
                [
                    96.85,
                    160.0
                ],
                [
                    93.61,
                    153.0
                ],
                [
                    97.23,
                    149.0
                ],
                [
                    96.89,
                    178.0
                ],
                [
                    97.0,
                    178.0
                ],
                [
                    95.38,
                    145.0
                ],
                [
                    99.0,
                    165.0
                ],
                [
                    115.55,
                    220.0
                ],
                [
                    116.36,
                    205.0
                ],
                [
                    96.27,
                    165.0
                ],
                [
                    93.94,
                    220.0
                ],
                [
                    107.92,
                    193.0
                ],
                [
                    96.94,
                    162.0
                ],
                [
                    96.92,
                    258.0
                ],
                [
                    93.48,
                    146.8
                ],
                [
                    96.85,
                    240.0
                ],
                [
                    97.63,
                    250.0
                ],
                [
                    93.48,
                    150.0
                ],
                [
                    96.83,
                    163.0
                ],
                [
                    96.01,
                    158.0
                ],
                [
                    97.0,
                    168.0
                ],
                [
                    96.01,
                    180.0
                ],
                [
                    102.95,
                    168.0
                ],
                [
                    93.4,
                    166.0
                ],
                [
                    90.69,
                    58.0
                ],
                [
                    95.82,
                    40.0
                ],
                [
                    95.91,
                    87.0
                ],
                [
                    106.0,
                    90.5
                ],
                [
                    91.78,
                    81.0
                ],
                [
                    114.65,
                    88.0
                ],
                [
                    42.0,
                    25.0
                ],
                [
                    67.86,
                    28.0
                ],
                [
                    105.4,
                    96.0
                ],
                [
                    170.0,
                    168.0
                ],
                [
                    82.0,
                    48.0
                ],
                [
                    129.28,
                    108.0
                ],
                [
                    131.64,
                    96.0
                ],
                [
                    49.8,
                    38.0
                ],
                [
                    108.42,
                    109.0
                ],
                [
                    91.27,
                    78.0
                ],
                [
                    129.0,
                    106.0
                ],
                [
                    135.97,
                    108.0
                ],
                [
                    91.26,
                    73.0
                ],
                [
                    116.04,
                    90.0
                ],
                [
                    97.0,
                    59.0
                ],
                [
                    126.97,
                    80.0
                ],
                [
                    113.44,
                    108.0
                ],
                [
                    90.0,
                    62.7
                ],
                [
                    105.91,
                    83.0
                ],
                [
                    94.13,
                    86.0
                ],
                [
                    127.22,
                    118.0
                ],
                [
                    130.0,
                    112.0
                ],
                [
                    98.41,
                    57.0
                ],
                [
                    141.0,
                    49.0
                ],
                [
                    148.07,
                    245.0
                ],
                [
                    109.78,
                    155.0
                ],
                [
                    89.33,
                    158.0
                ],
                [
                    88.51,
                    220.0
                ],
                [
                    88.57,
                    88.0
                ],
                [
                    104.85,
                    110.0
                ],
                [
                    98.0,
                    255.0
                ],
                [
                    125.0,
                    345.0
                ],
                [
                    87.24,
                    100.0
                ],
                [
                    116.53,
                    65.0
                ],
                [
                    102.47,
                    72.8
                ],
                [
                    98.0,
                    140.0
                ],
                [
                    89.79,
                    105.0
                ],
                [
                    77.97,
                    140.0
                ],
                [
                    54.06,
                    112.0
                ],
                [
                    89.5,
                    140.0
                ],
                [
                    118.36,
                    79.0
                ],
                [
                    81.99,
                    185.0
                ],
                [
                    123.82,
                    215.0
                ],
                [
                    92.68,
                    160.0
                ],
                [
                    157.5,
                    148.0
                ],
                [
                    89.19,
                    126.0
                ],
                [
                    147.68,
                    193.0
                ],
                [
                    102.72,
                    125.0
                ],
                [
                    92.69,
                    108.0
                ],
                [
                    98.92,
                    142.0
                ],
                [
                    118.0,
                    85.0
                ],
                [
                    114.45,
                    85.0
                ],
                [
                    107.56,
                    178.0
                ],
                [
                    104.69,
                    138.0
                ],
                [
                    89.0,
                    90.0
                ],
                [
                    101.87,
                    155.0
                ],
                [
                    161.52,
                    173.0
                ],
                [
                    237.34,
                    302.0
                ],
                [
                    131.6,
                    223.0
                ],
                [
                    105.02,
                    172.0
                ],
                [
                    116.0,
                    118.0
                ],
                [
                    126.57,
                    160.0
                ],
                [
                    67.93,
                    95.0
                ],
                [
                    90.32,
                    93.0
                ],
                [
                    92.0,
                    208.0
                ],
                [
                    89.44,
                    340.0
                ],
                [
                    172.04,
                    550.0
                ],
                [
                    138.19,
                    465.0
                ],
                [
                    94.0,
                    105.0
                ],
                [
                    106.0,
                    148.0
                ],
                [
                    116.0,
                    175.0
                ],
                [
                    276.0,
                    209.0
                ],
                [
                    119.27,
                    417.0
                ],
                [
                    225.0,
                    85.5
                ],
                [
                    53.97,
                    120.0
                ],
                [
                    90.06,
                    115.0
                ],
                [
                    64.42,
                    65.0
                ],
                [
                    183.56,
                    261.0
                ],
                [
                    122.43,
                    203.8
                ],
                [
                    96.2,
                    65.0
                ],
                [
                    117.56,
                    115.0
                ],
                [
                    109.62,
                    195.0
                ],
                [
                    96.9,
                    99.0
                ],
                [
                    169.13,
                    206.0
                ],
                [
                    122.5,
                    58.0
                ],
                [
                    132.11,
                    189.0
                ],
                [
                    183.55,
                    238.0
                ],
                [
                    102.14,
                    45.0
                ],
                [
                    113.55,
                    90.0
                ],
                [
                    89.0,
                    78.0
                ],
                [
                    65.0,
                    25.0
                ],
                [
                    89.17,
                    75.0
                ],
                [
                    114.0,
                    70.0
                ],
                [
                    97.92,
                    48.0
                ],
                [
                    150.21,
                    190.0
                ],
                [
                    89.19,
                    73.8
                ],
                [
                    82.3,
                    48.0
                ],
                [
                    89.64,
                    80.0
                ],
                [
                    102.52,
                    69.5
                ],
                [
                    89.0,
                    73.8
                ],
                [
                    88.61,
                    45.0
                ],
                [
                    118.11,
                    80.0
                ],
                [
                    241.0,
                    228.0
                ],
                [
                    116.31,
                    66.0
                ],
                [
                    98.0,
                    81.0
                ],
                [
                    93.29,
                    158.0
                ],
                [
                    96.59,
                    178.0
                ],
                [
                    97.0,
                    208.0
                ],
                [
                    93.29,
                    180.0
                ],
                [
                    96.0,
                    188.0
                ],
                [
                    93.73,
                    268.0
                ],
                [
                    93.42,
                    165.0
                ],
                [
                    98.63,
                    178.0
                ],
                [
                    93.48,
                    153.0
                ],
                [
                    107.0,
                    210.0
                ],
                [
                    93.0,
                    260.0
                ],
                [
                    100.32,
                    180.0
                ],
                [
                    100.52,
                    159.0
                ],
                [
                    96.84,
                    178.0
                ],
                [
                    96.95,
                    180.0
                ],
                [
                    93.51,
                    160.0
                ],
                [
                    95.38,
                    168.0
                ],
                [
                    98.78,
                    165.0
                ],
                [
                    100.07,
                    168.0
                ],
                [
                    99.19,
                    145.0
                ],
                [
                    96.95,
                    148.0
                ],
                [
                    93.61,
                    145.0
                ],
                [
                    99.42,
                    165.0
                ],
                [
                    93.4,
                    160.0
                ],
                [
                    125.41,
                    91.0
                ],
                [
                    110.48,
                    245.0
                ],
                [
                    272.34,
                    350.0
                ],
                [
                    128.44,
                    129.5
                ],
                [
                    137.61,
                    228.0
                ],
                [
                    118.68,
                    142.0
                ],
                [
                    127.82,
                    169.9
                ],
                [
                    95.99,
                    155.0
                ],
                [
                    139.6,
                    293.0
                ],
                [
                    47.21,
                    59.8
                ],
                [
                    91.6,
                    153.0
                ],
                [
                    69.23,
                    142.0
                ],
                [
                    151.99,
                    138.0
                ],
                [
                    79.47,
                    95.0
                ],
                [
                    75.6,
                    70.0
                ],
                [
                    91.0,
                    132.0
                ],
                [
                    95.07,
                    147.0
                ],
                [
                    89.32,
                    198.0
                ],
                [
                    90.38,
                    100.0
                ],
                [
                    104.32,
                    153.0
                ],
                [
                    103.91,
                    159.0
                ],
                [
                    82.58,
                    95.0
                ],
                [
                    110.72,
                    130.0
                ],
                [
                    119.0,
                    275.0
                ],
                [
                    97.0,
                    245.0
                ],
                [
                    106.0,
                    70.0
                ],
                [
                    121.0,
                    168.0
                ],
                [
                    134.37,
                    240.0
                ],
                [
                    89.18,
                    75.0
                ],
                [
                    78.72,
                    32.0
                ],
                [
                    89.24,
                    75.0
                ],
                [
                    100.0,
                    25.8
                ],
                [
                    111.58,
                    53.5
                ],
                [
                    138.93,
                    90.0
                ],
                [
                    105.48,
                    65.0
                ],
                [
                    114.67,
                    62.0
                ],
                [
                    118.98,
                    70.0
                ],
                [
                    109.0,
                    60.0
                ],
                [
                    101.73,
                    49.0
                ],
                [
                    95.01,
                    149.2
                ],
                [
                    101.0,
                    190.0
                ],
                [
                    154.48,
                    250.0
                ],
                [
                    97.04,
                    170.0
                ],
                [
                    96.13,
                    160.0
                ],
                [
                    93.1,
                    180.0
                ],
                [
                    96.49,
                    340.0
                ],
                [
                    132.14,
                    549.0
                ],
                [
                    97.77,
                    355.0
                ],
                [
                    96.64,
                    385.0
                ],
                [
                    152.46,
                    585.0
                ],
                [
                    104.04,
                    428.0
                ],
                [
                    96.73,
                    368.0
                ],
                [
                    89.81,
                    308.0
                ],
                [
                    96.26,
                    360.0
                ],
                [
                    77.13,
                    255.0
                ],
                [
                    79.78,
                    293.0
                ],
                [
                    58.65,
                    155.0
                ],
                [
                    80.14,
                    253.0
                ],
                [
                    58.65,
                    179.0
                ],
                [
                    58.65,
                    165.0
                ],
                [
                    82.0,
                    245.0
                ],
                [
                    29.32,
                    82.0
                ],
                [
                    75.85,
                    260.0
                ],
                [
                    82.5,
                    259.0
                ],
                [
                    94.03,
                    325.0
                ],
                [
                    80.02,
                    268.0
                ],
                [
                    60.61,
                    165.0
                ],
                [
                    46.2,
                    198.0
                ],
                [
                    83.7,
                    360.0
                ],
                [
                    79.16,
                    267.0
                ],
                [
                    79.77,
                    300.0
                ],
                [
                    92.97,
                    299.0
                ],
                [
                    97.64,
                    315.0
                ],
                [
                    98.0,
                    305.0
                ],
                [
                    97.19,
                    348.0
                ],
                [
                    201.5,
                    133.0
                ],
                [
                    80.65,
                    50.0
                ],
                [
                    89.82,
                    85.0
                ],
                [
                    132.49,
                    48.8
                ],
                [
                    90.0,
                    60.0
                ],
                [
                    105.88,
                    78.0
                ],
                [
                    106.52,
                    78.8
                ],
                [
                    86.19,
                    70.0
                ],
                [
                    87.15,
                    65.0
                ],
                [
                    96.04,
                    81.8
                ],
                [
                    132.0,
                    79.0
                ],
                [
                    92.0,
                    49.0
                ],
                [
                    144.0,
                    176.0
                ],
                [
                    91.0,
                    79.0
                ],
                [
                    111.25,
                    85.0
                ],
                [
                    90.54,
                    70.0
                ],
                [
                    124.0,
                    107.0
                ],
                [
                    142.31,
                    110.0
                ],
                [
                    87.52,
                    72.0
                ],
                [
                    105.0,
                    75.2
                ],
                [
                    90.79,
                    80.0
                ],
                [
                    114.64,
                    99.0
                ],
                [
                    96.03,
                    65.0
                ],
                [
                    125.0,
                    74.0
                ],
                [
                    97.12,
                    85.0
                ],
                [
                    116.0,
                    123.0
                ],
                [
                    105.46,
                    63.0
                ],
                [
                    122.0,
                    99.9
                ],
                [
                    92.0,
                    72.0
                ],
                [
                    170.4,
                    170.0
                ],
                [
                    124.5,
                    193.0
                ],
                [
                    111.25,
                    50.0
                ],
                [
                    109.81,
                    130.0
                ],
                [
                    103.94,
                    118.0
                ],
                [
                    97.0,
                    135.0
                ],
                [
                    132.01,
                    75.0
                ],
                [
                    96.0,
                    125.0
                ],
                [
                    232.84,
                    320.0
                ],
                [
                    316.31,
                    398.0
                ],
                [
                    110.0,
                    145.5
                ],
                [
                    110.77,
                    132.0
                ],
                [
                    142.0,
                    238.0
                ],
                [
                    91.32,
                    155.0
                ],
                [
                    89.0,
                    57.0
                ],
                [
                    108.79,
                    215.0
                ],
                [
                    333.5,
                    392.0
                ],
                [
                    78.83,
                    101.0
                ],
                [
                    97.14,
                    150.0
                ],
                [
                    126.44,
                    149.0
                ],
                [
                    88.03,
                    125.0
                ],
                [
                    107.18,
                    228.0
                ],
                [
                    99.28,
                    190.0
                ],
                [
                    90.0,
                    233.0
                ],
                [
                    133.55,
                    288.0
                ],
                [
                    90.05,
                    126.0
                ],
                [
                    133.52,
                    230.0
                ],
                [
                    93.73,
                    154.0
                ],
                [
                    144.45,
                    235.0
                ],
                [
                    93.66,
                    128.0
                ],
                [
                    87.51,
                    114.0
                ],
                [
                    86.86,
                    125.0
                ],
                [
                    129.0,
                    358.0
                ],
                [
                    92.5,
                    100.0
                ],
                [
                    79.84,
                    94.0
                ],
                [
                    88.27,
                    130.0
                ],
                [
                    58.63,
                    110.0
                ],
                [
                    46.61,
                    32.0
                ],
                [
                    90.81,
                    158.0
                ],
                [
                    96.1,
                    110.0
                ],
                [
                    121.0,
                    107.0
                ],
                [
                    104.46,
                    63.0
                ],
                [
                    120.58,
                    90.0
                ],
                [
                    89.29,
                    40.0
                ],
                [
                    118.08,
                    70.0
                ],
                [
                    257.99,
                    115.0
                ],
                [
                    78.09,
                    39.0
                ],
                [
                    83.59,
                    58.0
                ],
                [
                    90.46,
                    90.0
                ],
                [
                    118.74,
                    74.0
                ],
                [
                    102.0,
                    70.0
                ],
                [
                    72.18,
                    55.0
                ],
                [
                    77.49,
                    42.0
                ],
                [
                    70.0,
                    18.0
                ],
                [
                    57.46,
                    13.0
                ],
                [
                    53.83,
                    36.0
                ],
                [
                    98.0,
                    81.9
                ],
                [
                    116.0,
                    74.0
                ],
                [
                    115.0,
                    82.0
                ],
                [
                    223.0,
                    580.0
                ],
                [
                    141.16,
                    145.0
                ],
                [
                    37.98,
                    12.0
                ],
                [
                    73.64,
                    19.8
                ],
                [
                    97.0,
                    40.0
                ],
                [
                    140.51,
                    70.0
                ],
                [
                    104.28,
                    89.0
                ],
                [
                    117.04,
                    49.8
                ],
                [
                    86.0,
                    38.0
                ],
                [
                    94.89,
                    43.0
                ],
                [
                    109.38,
                    178.0
                ],
                [
                    96.53,
                    80.0
                ],
                [
                    82.5,
                    133.88
                ],
                [
                    82.3,
                    133.0
                ],
                [
                    93.0,
                    131.0
                ],
                [
                    123.74,
                    130.0
                ],
                [
                    101.85,
                    98.0
                ],
                [
                    128.8,
                    290.0
                ],
                [
                    121.96,
                    160.0
                ],
                [
                    94.0,
                    135.0
                ],
                [
                    104.0,
                    73.0
                ],
                [
                    130.9,
                    150.0
                ],
                [
                    136.11,
                    310.0
                ],
                [
                    90.07,
                    130.0
                ],
                [
                    92.36,
                    155.0
                ],
                [
                    125.43,
                    116.0
                ],
                [
                    89.0,
                    148.0
                ],
                [
                    139.84,
                    138.0
                ],
                [
                    99.0,
                    135.0
                ],
                [
                    92.02,
                    182.0
                ],
                [
                    144.0,
                    173.0
                ],
                [
                    123.65,
                    99.9
                ],
                [
                    75.04,
                    78.5
                ],
                [
                    79.1,
                    220.0
                ],
                [
                    123.04,
                    168.0
                ],
                [
                    170.92,
                    130.0
                ],
                [
                    118.0,
                    130.0
                ],
                [
                    177.4,
                    210.0
                ],
                [
                    89.0,
                    95.0
                ],
                [
                    110.0,
                    145.0
                ],
                [
                    87.87,
                    130.0
                ],
                [
                    104.16,
                    262.0
                ],
                [
                    144.15,
                    380.0
                ],
                [
                    130.78,
                    90.0
                ],
                [
                    106.0,
                    106.0
                ],
                [
                    89.0,
                    225.0
                ],
                [
                    86.76,
                    39.0
                ],
                [
                    71.83,
                    55.0
                ],
                [
                    82.18,
                    110.0
                ],
                [
                    91.15,
                    159.8
                ],
                [
                    67.72,
                    108.0
                ],
                [
                    128.77,
                    195.0
                ],
                [
                    90.0,
                    89.8
                ],
                [
                    176.55,
                    404.0
                ],
                [
                    101.26,
                    150.0
                ],
                [
                    74.51,
                    135.0
                ],
                [
                    87.9,
                    93.0
                ],
                [
                    90.7,
                    210.0
                ],
                [
                    121.0,
                    145.0
                ],
                [
                    92.0,
                    105.0
                ],
                [
                    104.14,
                    155.0
                ],
                [
                    129.52,
                    186.0
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 400,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                235.99,
                96.26,
                295.51,
                87.23,
                94.35,
                270.0,
                98.33,
                74.44,
                63.58,
                55.0,
                83.46,
                73.3,
                92.03,
                95.89,
                93.18,
                96.3,
                82.25,
                97.56,
                104.13,
                92.48,
                83.2,
                83.2,
                123.71,
                96.69,
                94.09,
                98.13,
                96.26,
                99.21,
                96.0,
                101.68,
                93.16,
                93.5,
                96.95,
                93.61,
                97.0,
                93.53,
                96.85,
                93.61,
                97.23,
                96.89,
                97.0,
                95.38,
                99.0,
                115.55,
                116.36,
                96.27,
                93.94,
                107.92,
                96.94,
                96.92,
                93.48,
                96.85,
                97.63,
                93.48,
                96.83,
                96.01,
                97.0,
                96.01,
                102.95,
                93.4,
                90.69,
                95.82,
                95.91,
                106.0,
                91.78,
                114.65,
                42.0,
                67.86,
                105.4,
                170.0,
                82.0,
                129.28,
                131.64,
                49.8,
                108.42,
                91.27,
                129.0,
                135.97,
                91.26,
                116.04,
                97.0,
                126.97,
                113.44,
                90.0,
                105.91,
                94.13,
                127.22,
                130.0,
                98.41,
                141.0,
                148.07,
                109.78,
                89.33,
                88.51,
                88.57,
                104.85,
                98.0,
                125.0,
                87.24,
                116.53,
                102.47,
                98.0,
                89.79,
                77.97,
                54.06,
                89.5,
                118.36,
                81.99,
                123.82,
                92.68,
                157.5,
                89.19,
                147.68,
                102.72,
                92.69,
                98.92,
                118.0,
                114.45,
                107.56,
                104.69,
                89.0,
                101.87,
                161.52,
                237.34,
                131.6,
                105.02,
                116.0,
                126.57,
                67.93,
                90.32,
                92.0,
                89.44,
                172.04,
                138.19,
                94.0,
                106.0,
                116.0,
                276.0,
                119.27,
                225.0,
                53.97,
                90.06,
                64.42,
                183.56,
                122.43,
                96.2,
                117.56,
                109.62,
                96.9,
                169.13,
                122.5,
                132.11,
                183.55,
                102.14,
                113.55,
                89.0,
                65.0,
                89.17,
                114.0,
                97.92,
                150.21,
                89.19,
                82.3,
                89.64,
                102.52,
                89.0,
                88.61,
                118.11,
                241.0,
                116.31,
                98.0,
                93.29,
                96.59,
                97.0,
                93.29,
                96.0,
                93.73,
                93.42,
                98.63,
                93.48,
                107.0,
                93.0,
                100.32,
                100.52,
                96.84,
                96.95,
                93.51,
                95.38,
                98.78,
                100.07,
                99.19,
                96.95,
                93.61,
                99.42,
                93.4,
                125.41,
                110.48,
                272.34,
                128.44,
                137.61,
                118.68,
                127.82,
                95.99,
                139.6,
                47.21,
                91.6,
                69.23,
                151.99,
                79.47,
                75.6,
                91.0,
                95.07,
                89.32,
                90.38,
                104.32,
                103.91,
                82.58,
                110.72,
                119.0,
                97.0,
                106.0,
                121.0,
                134.37,
                89.18,
                78.72,
                89.24,
                100.0,
                111.58,
                138.93,
                105.48,
                114.67,
                118.98,
                109.0,
                101.73,
                95.01,
                101.0,
                154.48,
                97.04,
                96.13,
                93.1,
                96.49,
                132.14,
                97.77,
                96.64,
                152.46,
                104.04,
                96.73,
                89.81,
                96.26,
                77.13,
                79.78,
                58.65,
                80.14,
                58.65,
                58.65,
                82.0,
                29.32,
                75.85,
                82.5,
                94.03,
                80.02,
                60.61,
                46.2,
                83.7,
                79.16,
                79.77,
                92.97,
                97.64,
                98.0,
                97.19,
                201.5,
                80.65,
                89.82,
                132.49,
                90.0,
                105.88,
                106.52,
                86.19,
                87.15,
                96.04,
                132.0,
                92.0,
                144.0,
                91.0,
                111.25,
                90.54,
                124.0,
                142.31,
                87.52,
                105.0,
                90.79,
                114.64,
                96.03,
                125.0,
                97.12,
                116.0,
                105.46,
                122.0,
                92.0,
                170.4,
                124.5,
                111.25,
                109.81,
                103.94,
                97.0,
                132.01,
                96.0,
                232.84,
                316.31,
                110.0,
                110.77,
                142.0,
                91.32,
                89.0,
                108.79,
                333.5,
                78.83,
                97.14,
                126.44,
                88.03,
                107.18,
                99.28,
                90.0,
                133.55,
                90.05,
                133.52,
                93.73,
                144.45,
                93.66,
                87.51,
                86.86,
                129.0,
                92.5,
                79.84,
                88.27,
                58.63,
                46.61,
                90.81,
                96.1,
                121.0,
                104.46,
                120.58,
                89.29,
                118.08,
                257.99,
                78.09,
                83.59,
                90.46,
                118.74,
                102.0,
                72.18,
                77.49,
                70.0,
                57.46,
                53.83,
                98.0,
                116.0,
                115.0,
                223.0,
                141.16,
                37.98,
                73.64,
                97.0,
                140.51,
                104.28,
                117.04,
                86.0,
                94.89,
                109.38,
                96.53,
                82.5,
                82.3,
                93.0,
                123.74,
                101.85,
                128.8,
                121.96,
                94.0,
                104.0,
                130.9,
                136.11,
                90.07,
                92.36,
                125.43,
                89.0,
                139.84,
                99.0,
                92.02,
                144.0,
                123.65,
                75.04,
                79.1,
                123.04,
                170.92,
                118.0,
                177.4,
                89.0,
                110.0,
                87.87,
                104.16,
                144.15,
                130.78,
                106.0,
                89.0,
                86.76,
                71.83,
                82.18,
                91.15,
                67.72,
                128.77,
                90.0,
                176.55,
                101.26,
                74.51,
                87.9,
                90.7,
                121.0,
                92.0,
                104.14,
                129.52
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 1000,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 5000,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 1000,
        "textStyle": {
            "color": "green"
        },
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "horizontal",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_ae61166f311f4ee1988c089cec56992a.setOption(option_ae61166f311f4ee1988c089cec56992a);
    </script>
</body>
</html>
