<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="afb2ec9608074ab781f0ae42c6a54b18" class="chart-container" style="width:450px; height:280px;"></div>
    <script>
        var chart_afb2ec9608074ab781f0ae42c6a54b18 = echarts.init(
            document.getElementById('afb2ec9608074ab781f0ae42c6a54b18'), 'white', {renderer: 'canvas'});
        var option_afb2ec9608074ab781f0ae42c6a54b18 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "symbolSize": 10,
            "data": [
                [
                    235.99,
                    1290.0
                ],
                [
                    183.55,
                    238.0
                ],
                [
                    93.5,
                    133.0
                ],
                [
                    96.95,
                    150.0
                ],
                [
                    186.38,
                    1500.0
                ],
                [
                    89.19,
                    335.0
                ],
                [
                    295.51,
                    998.0
                ],
                [
                    91.83,
                    300.0
                ],
                [
                    102.14,
                    45.0
                ],
                [
                    89.0,
                    78.0
                ],
                [
                    113.55,
                    90.0
                ],
                [
                    65.0,
                    25.0
                ],
                [
                    89.05,
                    76.5
                ],
                [
                    114.0,
                    70.0
                ],
                [
                    97.92,
                    48.0
                ],
                [
                    93.61,
                    130.0
                ],
                [
                    93.53,
                    155.0
                ],
                [
                    96.85,
                    160.0
                ],
                [
                    93.61,
                    153.0
                ],
                [
                    96.89,
                    178.0
                ],
                [
                    99.0,
                    165.0
                ],
                [
                    115.55,
                    220.0
                ],
                [
                    146.29,
                    173.0
                ],
                [
                    122.5,
                    58.0
                ],
                [
                    138.14,
                    249.0
                ],
                [
                    100.97,
                    330.0
                ],
                [
                    126.0,
                    208.0
                ],
                [
                    148.07,
                    245.0
                ],
                [
                    101.18,
                    177.0
                ],
                [
                    121.7,
                    185.0
                ],
                [
                    96.89,
                    255.0
                ],
                [
                    89.79,
                    105.0
                ],
                [
                    90.69,
                    58.0
                ],
                [
                    108.69,
                    110.0
                ],
                [
                    104.6,
                    97.0
                ],
                [
                    95.82,
                    40.0
                ],
                [
                    91.78,
                    81.0
                ],
                [
                    114.65,
                    88.0
                ],
                [
                    95.91,
                    87.0
                ],
                [
                    106.0,
                    90.5
                ],
                [
                    42.0,
                    25.0
                ],
                [
                    123.82,
                    215.0
                ],
                [
                    112.28,
                    250.0
                ],
                [
                    107.56,
                    178.0
                ],
                [
                    157.5,
                    148.0
                ],
                [
                    104.69,
                    138.0
                ],
                [
                    114.45,
                    83.0
                ],
                [
                    89.19,
                    126.0
                ],
                [
                    89.0,
                    90.0
                ],
                [
                    100.4,
                    95.0
                ],
                [
                    237.34,
                    301.0
                ],
                [
                    120.69,
                    135.0
                ],
                [
                    161.52,
                    165.0
                ],
                [
                    132.0,
                    475.0
                ],
                [
                    94.35,
                    310.0
                ],
                [
                    74.44,
                    290.0
                ],
                [
                    270.0,
                    1680.0
                ],
                [
                    98.33,
                    340.0
                ],
                [
                    55.0,
                    155.0
                ],
                [
                    83.46,
                    313.0
                ],
                [
                    83.2,
                    305.0
                ],
                [
                    96.64,
                    385.0
                ],
                [
                    89.42,
                    243.0
                ],
                [
                    89.94,
                    325.0
                ],
                [
                    104.04,
                    428.0
                ],
                [
                    104.13,
                    440.0
                ],
                [
                    82.25,
                    295.0
                ],
                [
                    101.68,
                    435.0
                ],
                [
                    92.48,
                    330.0
                ],
                [
                    96.26,
                    362.0
                ],
                [
                    92.03,
                    325.0
                ],
                [
                    123.71,
                    640.0
                ],
                [
                    96.69,
                    323.0
                ],
                [
                    94.09,
                    308.0
                ],
                [
                    95.89,
                    285.0
                ],
                [
                    89.17,
                    75.0
                ],
                [
                    89.64,
                    80.0
                ],
                [
                    100.0,
                    25.8
                ],
                [
                    78.72,
                    32.0
                ],
                [
                    118.11,
                    80.0
                ],
                [
                    89.0,
                    73.8
                ],
                [
                    89.24,
                    75.0
                ],
                [
                    89.18,
                    75.0
                ],
                [
                    98.0,
                    81.0
                ],
                [
                    116.31,
                    67.0
                ],
                [
                    111.58,
                    53.5
                ],
                [
                    87.0,
                    75.0
                ],
                [
                    96.27,
                    165.0
                ],
                [
                    116.36,
                    205.0
                ],
                [
                    95.38,
                    145.0
                ],
                [
                    97.0,
                    178.0
                ],
                [
                    97.23,
                    149.0
                ],
                [
                    93.16,
                    133.0
                ],
                [
                    93.94,
                    220.0
                ],
                [
                    107.92,
                    193.0
                ],
                [
                    96.94,
                    162.0
                ],
                [
                    96.92,
                    258.0
                ],
                [
                    93.48,
                    150.0
                ],
                [
                    96.85,
                    240.0
                ],
                [
                    96.01,
                    158.0
                ],
                [
                    96.83,
                    163.0
                ],
                [
                    93.48,
                    146.8
                ],
                [
                    97.63,
                    250.0
                ],
                [
                    102.95,
                    168.0
                ],
                [
                    93.29,
                    158.0
                ],
                [
                    93.4,
                    166.0
                ],
                [
                    97.0,
                    168.0
                ],
                [
                    96.01,
                    180.0
                ],
                [
                    132.11,
                    189.0
                ],
                [
                    128.44,
                    129.5
                ],
                [
                    88.95,
                    106.0
                ],
                [
                    91.6,
                    153.0
                ],
                [
                    95.99,
                    155.0
                ],
                [
                    139.6,
                    293.0
                ],
                [
                    102.47,
                    72.8
                ],
                [
                    89.33,
                    158.0
                ],
                [
                    109.78,
                    155.0
                ],
                [
                    141.07,
                    155.0
                ],
                [
                    67.86,
                    28.0
                ],
                [
                    57.0,
                    52.0
                ],
                [
                    170.0,
                    168.0
                ],
                [
                    129.28,
                    108.0
                ],
                [
                    104.11,
                    68.0
                ],
                [
                    89.06,
                    60.0
                ],
                [
                    138.0,
                    125.0
                ],
                [
                    114.64,
                    99.0
                ],
                [
                    104.0,
                    80.0
                ],
                [
                    92.68,
                    160.0
                ],
                [
                    93.25,
                    150.0
                ],
                [
                    147.68,
                    193.0
                ],
                [
                    67.93,
                    95.0
                ],
                [
                    101.87,
                    155.0
                ],
                [
                    112.0,
                    107.0
                ],
                [
                    131.6,
                    223.0
                ],
                [
                    105.02,
                    172.0
                ],
                [
                    122.43,
                    203.8
                ],
                [
                    96.9,
                    99.0
                ],
                [
                    97.0,
                    135.0
                ],
                [
                    92.02,
                    323.0
                ],
                [
                    96.0,
                    290.0
                ],
                [
                    101.68,
                    430.0
                ],
                [
                    114.67,
                    62.0
                ],
                [
                    118.98,
                    70.0
                ],
                [
                    138.93,
                    90.0
                ],
                [
                    102.52,
                    69.5
                ],
                [
                    118.08,
                    70.0
                ],
                [
                    104.46,
                    63.0
                ],
                [
                    151.99,
                    138.0
                ],
                [
                    90.38,
                    100.0
                ],
                [
                    137.61,
                    228.0
                ],
                [
                    79.47,
                    95.0
                ],
                [
                    118.68,
                    142.0
                ],
                [
                    127.82,
                    169.9
                ],
                [
                    89.32,
                    198.0
                ],
                [
                    91.0,
                    132.0
                ],
                [
                    104.32,
                    153.0
                ],
                [
                    47.21,
                    59.8
                ],
                [
                    110.72,
                    130.0
                ],
                [
                    89.74,
                    140.0
                ],
                [
                    98.0,
                    140.0
                ],
                [
                    136.89,
                    320.0
                ],
                [
                    301.94,
                    314.0
                ],
                [
                    88.57,
                    88.0
                ],
                [
                    118.36,
                    79.0
                ],
                [
                    92.0,
                    208.0
                ],
                [
                    70.0,
                    52.0
                ],
                [
                    87.02,
                    78.0
                ],
                [
                    170.4,
                    170.0
                ],
                [
                    105.88,
                    78.0
                ],
                [
                    97.0,
                    86.0
                ],
                [
                    87.52,
                    72.0
                ],
                [
                    94.13,
                    86.0
                ],
                [
                    106.52,
                    78.8
                ],
                [
                    162.27,
                    158.0
                ],
                [
                    98.23,
                    86.0
                ],
                [
                    96.04,
                    81.8
                ],
                [
                    86.19,
                    70.0
                ],
                [
                    124.0,
                    107.0
                ],
                [
                    96.0,
                    125.0
                ],
                [
                    103.94,
                    118.0
                ],
                [
                    169.13,
                    204.0
                ],
                [
                    105.9,
                    150.0
                ],
                [
                    117.56,
                    115.0
                ],
                [
                    94.38,
                    195.0
                ],
                [
                    316.31,
                    398.0
                ],
                [
                    89.29,
                    40.0
                ],
                [
                    121.0,
                    105.0
                ],
                [
                    120.58,
                    90.0
                ],
                [
                    111.25,
                    50.0
                ],
                [
                    119.0,
                    268.0
                ],
                [
                    118.1,
                    190.0
                ],
                [
                    94.42,
                    115.0
                ],
                [
                    133.55,
                    288.0
                ],
                [
                    144.45,
                    235.0
                ],
                [
                    88.03,
                    125.0
                ],
                [
                    90.05,
                    126.0
                ],
                [
                    90.0,
                    233.0
                ],
                [
                    87.51,
                    114.0
                ],
                [
                    144.65,
                    202.0
                ],
                [
                    74.46,
                    65.0
                ],
                [
                    87.55,
                    130.0
                ],
                [
                    127.8,
                    168.0
                ],
                [
                    105.8,
                    129.0
                ],
                [
                    100.75,
                    145.0
                ],
                [
                    108.0,
                    268.0
                ],
                [
                    225.0,
                    85.5
                ],
                [
                    53.97,
                    120.0
                ],
                [
                    104.0,
                    73.0
                ],
                [
                    90.06,
                    113.0
                ],
                [
                    83.72,
                    130.0
                ],
                [
                    126.57,
                    160.0
                ],
                [
                    109.38,
                    178.0
                ],
                [
                    101.85,
                    98.0
                ],
                [
                    107.58,
                    100.0
                ],
                [
                    89.0,
                    89.0
                ],
                [
                    90.14,
                    152.0
                ],
                [
                    76.75,
                    64.0
                ],
                [
                    110.0,
                    145.0
                ],
                [
                    88.73,
                    215.0
                ],
                [
                    170.92,
                    130.0
                ],
                [
                    122.58,
                    210.0
                ],
                [
                    93.66,
                    128.0
                ],
                [
                    93.73,
                    154.0
                ],
                [
                    78.83,
                    101.0
                ],
                [
                    333.5,
                    392.0
                ],
                [
                    110.77,
                    132.0
                ],
                [
                    110.0,
                    216.0
                ],
                [
                    134.37,
                    240.0
                ],
                [
                    89.0,
                    57.0
                ],
                [
                    99.28,
                    190.0
                ],
                [
                    124.5,
                    193.0
                ],
                [
                    97.14,
                    150.0
                ],
                [
                    124.95,
                    215.0
                ],
                [
                    133.52,
                    230.0
                ],
                [
                    107.18,
                    228.0
                ],
                [
                    129.0,
                    358.0
                ],
                [
                    92.5,
                    100.0
                ],
                [
                    90.32,
                    88.0
                ],
                [
                    98.0,
                    138.0
                ],
                [
                    93.0,
                    125.0
                ],
                [
                    117.89,
                    158.0
                ],
                [
                    127.62,
                    160.0
                ],
                [
                    125.0,
                    135.0
                ],
                [
                    128.0,
                    133.0
                ],
                [
                    108.97,
                    135.0
                ],
                [
                    75.04,
                    78.5
                ],
                [
                    92.36,
                    155.0
                ],
                [
                    94.0,
                    135.0
                ],
                [
                    139.84,
                    138.0
                ],
                [
                    90.28,
                    139.0
                ],
                [
                    95.37,
                    91.0
                ],
                [
                    90.21,
                    188.0
                ],
                [
                    147.71,
                    140.0
                ],
                [
                    125.0,
                    110.0
                ],
                [
                    120.0,
                    102.0
                ],
                [
                    97.96,
                    119.8
                ],
                [
                    116.22,
                    116.0
                ],
                [
                    108.0,
                    149.5
                ],
                [
                    99.98,
                    159.8
                ],
                [
                    105.36,
                    112.0
                ],
                [
                    107.74,
                    99.0
                ],
                [
                    177.4,
                    210.0
                ],
                [
                    114.48,
                    306.0
                ],
                [
                    77.97,
                    140.0
                ],
                [
                    54.06,
                    112.0
                ],
                [
                    180.96,
                    154.0
                ],
                [
                    87.78,
                    200.0
                ],
                [
                    138.19,
                    465.0
                ],
                [
                    119.92,
                    438.0
                ],
                [
                    88.36,
                    300.0
                ],
                [
                    104.16,
                    262.0
                ],
                [
                    131.56,
                    262.0
                ],
                [
                    89.71,
                    102.0
                ],
                [
                    92.0,
                    260.0
                ],
                [
                    128.77,
                    195.0
                ],
                [
                    67.72,
                    108.0
                ],
                [
                    98.0,
                    130.0
                ],
                [
                    98.0,
                    98.0
                ],
                [
                    90.7,
                    210.0
                ],
                [
                    126.0,
                    98.0
                ],
                [
                    116.0,
                    182.0
                ],
                [
                    124.01,
                    119.0
                ],
                [
                    46.61,
                    32.0
                ],
                [
                    88.27,
                    130.0
                ],
                [
                    79.84,
                    94.0
                ],
                [
                    90.81,
                    158.0
                ],
                [
                    124.96,
                    306.0
                ],
                [
                    128.0,
                    214.0
                ],
                [
                    90.97,
                    130.0
                ],
                [
                    134.27,
                    197.0
                ],
                [
                    92.5,
                    115.0
                ],
                [
                    97.07,
                    113.0
                ],
                [
                    94.85,
                    123.0
                ],
                [
                    101.0,
                    185.0
                ],
                [
                    97.23,
                    185.0
                ],
                [
                    89.0,
                    148.0
                ],
                [
                    84.0,
                    49.0
                ],
                [
                    161.18,
                    122.0
                ],
                [
                    90.79,
                    80.0
                ],
                [
                    110.88,
                    90.0
                ],
                [
                    96.03,
                    65.0
                ],
                [
                    144.0,
                    176.0
                ],
                [
                    105.46,
                    63.0
                ],
                [
                    135.97,
                    108.0
                ],
                [
                    112.83,
                    100.0
                ],
                [
                    108.86,
                    107.8
                ],
                [
                    80.65,
                    50.0
                ],
                [
                    91.27,
                    78.0
                ],
                [
                    100.18,
                    360.0
                ],
                [
                    101.0,
                    73.0
                ],
                [
                    104.66,
                    42.0
                ],
                [
                    94.22,
                    88.0
                ],
                [
                    126.71,
                    75.0
                ],
                [
                    132.49,
                    48.8
                ],
                [
                    105.59,
                    105.0
                ],
                [
                    90.0,
                    62.7
                ],
                [
                    86.02,
                    53.0
                ],
                [
                    125.0,
                    74.0
                ],
                [
                    122.76,
                    94.5
                ],
                [
                    97.12,
                    85.0
                ],
                [
                    111.25,
                    85.0
                ],
                [
                    89.82,
                    85.0
                ],
                [
                    87.15,
                    65.0
                ],
                [
                    141.0,
                    49.0
                ],
                [
                    89.9,
                    79.0
                ],
                [
                    96.73,
                    368.0
                ],
                [
                    96.3,
                    370.0
                ],
                [
                    98.13,
                    338.0
                ],
                [
                    152.46,
                    585.0
                ],
                [
                    132.14,
                    549.0
                ],
                [
                    96.26,
                    360.0
                ],
                [
                    152.46,
                    580.0
                ],
                [
                    83.2,
                    305.0
                ],
                [
                    99.21,
                    320.0
                ],
                [
                    96.26,
                    360.0
                ],
                [
                    242.4,
                    915.0
                ],
                [
                    89.81,
                    308.0
                ],
                [
                    73.3,
                    158.0
                ],
                [
                    94.03,
                    325.0
                ],
                [
                    79.16,
                    267.0
                ],
                [
                    75.85,
                    260.0
                ],
                [
                    58.65,
                    165.0
                ],
                [
                    58.65,
                    155.0
                ],
                [
                    257.99,
                    115.0
                ],
                [
                    78.09,
                    39.0
                ],
                [
                    118.72,
                    90.0
                ],
                [
                    125.47,
                    111.0
                ],
                [
                    83.59,
                    58.0
                ],
                [
                    122.0,
                    63.0
                ],
                [
                    90.46,
                    90.0
                ],
                [
                    115.98,
                    76.0
                ],
                [
                    102.0,
                    70.0
                ],
                [
                    130.0,
                    112.0
                ],
                [
                    122.0,
                    92.0
                ],
                [
                    29.32,
                    82.0
                ],
                [
                    82.5,
                    259.0
                ],
                [
                    83.7,
                    360.0
                ],
                [
                    46.0,
                    190.0
                ],
                [
                    58.65,
                    179.0
                ],
                [
                    63.58,
                    129.0
                ],
                [
                    46.2,
                    198.0
                ],
                [
                    82.0,
                    245.0
                ],
                [
                    80.02,
                    268.0
                ],
                [
                    89.88,
                    470.0
                ],
                [
                    123.41,
                    660.0
                ],
                [
                    118.74,
                    74.0
                ],
                [
                    82.3,
                    48.0
                ],
                [
                    89.19,
                    73.8
                ],
                [
                    94.97,
                    70.0
                ],
                [
                    77.49,
                    41.8
                ],
                [
                    70.0,
                    18.0
                ],
                [
                    82.24,
                    50.0
                ],
                [
                    115.0,
                    82.0
                ],
                [
                    111.31,
                    42.1
                ],
                [
                    223.0,
                    580.0
                ],
                [
                    141.16,
                    145.0
                ],
                [
                    28.16,
                    8.8
                ],
                [
                    72.0,
                    21.0
                ],
                [
                    88.0,
                    76.0
                ],
                [
                    37.98,
                    12.0
                ],
                [
                    93.15,
                    57.0
                ],
                [
                    97.0,
                    40.0
                ],
                [
                    104.28,
                    89.0
                ],
                [
                    140.51,
                    78.0
                ],
                [
                    86.0,
                    38.0
                ],
                [
                    187.88,
                    136.0
                ],
                [
                    96.59,
                    178.0
                ],
                [
                    97.0,
                    208.0
                ],
                [
                    93.29,
                    180.0
                ],
                [
                    96.0,
                    188.0
                ],
                [
                    93.73,
                    268.0
                ],
                [
                    93.42,
                    165.0
                ],
                [
                    107.0,
                    210.0
                ],
                [
                    99.42,
                    165.0
                ],
                [
                    93.4,
                    160.0
                ],
                [
                    154.48,
                    250.0
                ],
                [
                    96.13,
                    160.0
                ],
                [
                    95.01,
                    149.2
                ],
                [
                    96.64,
                    162.0
                ],
                [
                    97.0,
                    170.0
                ],
                [
                    100.07,
                    210.0
                ],
                [
                    93.51,
                    160.0
                ],
                [
                    95.38,
                    168.0
                ],
                [
                    96.95,
                    148.0
                ],
                [
                    100.07,
                    168.0
                ],
                [
                    98.78,
                    165.0
                ],
                [
                    96.89,
                    188.0
                ],
                [
                    96.95,
                    180.0
                ],
                [
                    96.84,
                    178.0
                ],
                [
                    97.28,
                    250.0
                ],
                [
                    93.71,
                    153.0
                ],
                [
                    93.48,
                    155.0
                ],
                [
                    93.48,
                    153.0
                ],
                [
                    154.36,
                    238.0
                ],
                [
                    100.32,
                    180.0
                ],
                [
                    95.01,
                    168.0
                ],
                [
                    124.82,
                    160.0
                ],
                [
                    127.22,
                    118.0
                ],
                [
                    96.0,
                    64.0
                ],
                [
                    93.29,
                    93.5
                ],
                [
                    248.94,
                    325.0
                ],
                [
                    97.0,
                    142.0
                ],
                [
                    114.05,
                    170.0
                ],
                [
                    106.0,
                    148.0
                ],
                [
                    103.0,
                    71.0
                ],
                [
                    125.0,
                    301.0
                ],
                [
                    93.1,
                    180.0
                ],
                [
                    94.89,
                    43.0
                ],
                [
                    127.13,
                    79.8
                ],
                [
                    77.0,
                    58.8
                ],
                [
                    92.0,
                    72.0
                ],
                [
                    96.12,
                    84.0
                ],
                [
                    98.41,
                    57.0
                ],
                [
                    108.0,
                    90.0
                ],
                [
                    90.0,
                    60.0
                ],
                [
                    90.54,
                    70.0
                ],
                [
                    86.94,
                    82.0
                ],
                [
                    108.42,
                    106.0
                ],
                [
                    212.51,
                    189.0
                ],
                [
                    100.98,
                    131.0
                ],
                [
                    104.0,
                    111.0
                ],
                [
                    276.0,
                    209.0
                ],
                [
                    88.0,
                    139.0
                ],
                [
                    119.51,
                    358.0
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 400,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                235.99,
                183.55,
                93.5,
                96.95,
                186.38,
                89.19,
                295.51,
                91.83,
                102.14,
                89.0,
                113.55,
                65.0,
                89.05,
                114.0,
                97.92,
                93.61,
                93.53,
                96.85,
                93.61,
                96.89,
                99.0,
                115.55,
                146.29,
                122.5,
                138.14,
                100.97,
                126.0,
                148.07,
                101.18,
                121.7,
                96.89,
                89.79,
                90.69,
                108.69,
                104.6,
                95.82,
                91.78,
                114.65,
                95.91,
                106.0,
                42.0,
                123.82,
                112.28,
                107.56,
                157.5,
                104.69,
                114.45,
                89.19,
                89.0,
                100.4,
                237.34,
                120.69,
                161.52,
                132.0,
                94.35,
                74.44,
                270.0,
                98.33,
                55.0,
                83.46,
                83.2,
                96.64,
                89.42,
                89.94,
                104.04,
                104.13,
                82.25,
                101.68,
                92.48,
                96.26,
                92.03,
                123.71,
                96.69,
                94.09,
                95.89,
                89.17,
                89.64,
                100.0,
                78.72,
                118.11,
                89.0,
                89.24,
                89.18,
                98.0,
                116.31,
                111.58,
                87.0,
                96.27,
                116.36,
                95.38,
                97.0,
                97.23,
                93.16,
                93.94,
                107.92,
                96.94,
                96.92,
                93.48,
                96.85,
                96.01,
                96.83,
                93.48,
                97.63,
                102.95,
                93.29,
                93.4,
                97.0,
                96.01,
                132.11,
                128.44,
                88.95,
                91.6,
                95.99,
                139.6,
                102.47,
                89.33,
                109.78,
                141.07,
                67.86,
                57.0,
                170.0,
                129.28,
                104.11,
                89.06,
                138.0,
                114.64,
                104.0,
                92.68,
                93.25,
                147.68,
                67.93,
                101.87,
                112.0,
                131.6,
                105.02,
                122.43,
                96.9,
                97.0,
                92.02,
                96.0,
                101.68,
                114.67,
                118.98,
                138.93,
                102.52,
                118.08,
                104.46,
                151.99,
                90.38,
                137.61,
                79.47,
                118.68,
                127.82,
                89.32,
                91.0,
                104.32,
                47.21,
                110.72,
                89.74,
                98.0,
                136.89,
                301.94,
                88.57,
                118.36,
                92.0,
                70.0,
                87.02,
                170.4,
                105.88,
                97.0,
                87.52,
                94.13,
                106.52,
                162.27,
                98.23,
                96.04,
                86.19,
                124.0,
                96.0,
                103.94,
                169.13,
                105.9,
                117.56,
                94.38,
                316.31,
                89.29,
                121.0,
                120.58,
                111.25,
                119.0,
                118.1,
                94.42,
                133.55,
                144.45,
                88.03,
                90.05,
                90.0,
                87.51,
                144.65,
                74.46,
                87.55,
                127.8,
                105.8,
                100.75,
                108.0,
                225.0,
                53.97,
                104.0,
                90.06,
                83.72,
                126.57,
                109.38,
                101.85,
                107.58,
                89.0,
                90.14,
                76.75,
                110.0,
                88.73,
                170.92,
                122.58,
                93.66,
                93.73,
                78.83,
                333.5,
                110.77,
                110.0,
                134.37,
                89.0,
                99.28,
                124.5,
                97.14,
                124.95,
                133.52,
                107.18,
                129.0,
                92.5,
                90.32,
                98.0,
                93.0,
                117.89,
                127.62,
                125.0,
                128.0,
                108.97,
                75.04,
                92.36,
                94.0,
                139.84,
                90.28,
                95.37,
                90.21,
                147.71,
                125.0,
                120.0,
                97.96,
                116.22,
                108.0,
                99.98,
                105.36,
                107.74,
                177.4,
                114.48,
                77.97,
                54.06,
                180.96,
                87.78,
                138.19,
                119.92,
                88.36,
                104.16,
                131.56,
                89.71,
                92.0,
                128.77,
                67.72,
                98.0,
                98.0,
                90.7,
                126.0,
                116.0,
                124.01,
                46.61,
                88.27,
                79.84,
                90.81,
                124.96,
                128.0,
                90.97,
                134.27,
                92.5,
                97.07,
                94.85,
                101.0,
                97.23,
                89.0,
                84.0,
                161.18,
                90.79,
                110.88,
                96.03,
                144.0,
                105.46,
                135.97,
                112.83,
                108.86,
                80.65,
                91.27,
                100.18,
                101.0,
                104.66,
                94.22,
                126.71,
                132.49,
                105.59,
                90.0,
                86.02,
                125.0,
                122.76,
                97.12,
                111.25,
                89.82,
                87.15,
                141.0,
                89.9,
                96.73,
                96.3,
                98.13,
                152.46,
                132.14,
                96.26,
                152.46,
                83.2,
                99.21,
                96.26,
                242.4,
                89.81,
                73.3,
                94.03,
                79.16,
                75.85,
                58.65,
                58.65,
                257.99,
                78.09,
                118.72,
                125.47,
                83.59,
                122.0,
                90.46,
                115.98,
                102.0,
                130.0,
                122.0,
                29.32,
                82.5,
                83.7,
                46.0,
                58.65,
                63.58,
                46.2,
                82.0,
                80.02,
                89.88,
                123.41,
                118.74,
                82.3,
                89.19,
                94.97,
                77.49,
                70.0,
                82.24,
                115.0,
                111.31,
                223.0,
                141.16,
                28.16,
                72.0,
                88.0,
                37.98,
                93.15,
                97.0,
                104.28,
                140.51,
                86.0,
                187.88,
                96.59,
                97.0,
                93.29,
                96.0,
                93.73,
                93.42,
                107.0,
                99.42,
                93.4,
                154.48,
                96.13,
                95.01,
                96.64,
                97.0,
                100.07,
                93.51,
                95.38,
                96.95,
                100.07,
                98.78,
                96.89,
                96.95,
                96.84,
                97.28,
                93.71,
                93.48,
                93.48,
                154.36,
                100.32,
                95.01,
                124.82,
                127.22,
                96.0,
                93.29,
                248.94,
                97.0,
                114.05,
                106.0,
                103.0,
                125.0,
                93.1,
                94.89,
                127.13,
                77.0,
                92.0,
                96.12,
                98.41,
                108.0,
                90.0,
                90.54,
                86.94,
                108.42,
                212.51,
                100.98,
                104.0,
                276.0,
                88.0,
                119.51
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 1000,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 5000,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 1000,
        "textStyle": {
            "color": "green"
        },
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "horizontal",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_afb2ec9608074ab781f0ae42c6a54b18.setOption(option_afb2ec9608074ab781f0ae42c6a54b18);
    </script>
</body>
</html>
