<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="74b979ee25bd46d39a770ccc351261cd" class="chart-container" style="width:450px; height:280px;"></div>
    <script>
        var chart_74b979ee25bd46d39a770ccc351261cd = echarts.init(
            document.getElementById('74b979ee25bd46d39a770ccc351261cd'), 'white', {renderer: 'canvas'});
        var option_74b979ee25bd46d39a770ccc351261cd = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "symbolSize": 10,
            "data": [
                [
                    84.54,
                    22.0
                ],
                [
                    110.0,
                    23.0
                ],
                [
                    121.85,
                    100.0
                ],
                [
                    85.41,
                    51.0
                ],
                [
                    110.85,
                    44.8
                ],
                [
                    89.0,
                    18.5
                ],
                [
                    98.53,
                    33.8
                ],
                [
                    108.03,
                    18.0
                ],
                [
                    108.92,
                    43.0
                ],
                [
                    79.17,
                    38.8
                ],
                [
                    163.0,
                    52.0
                ],
                [
                    135.0,
                    59.0
                ],
                [
                    83.54,
                    41.8
                ],
                [
                    104.51,
                    50.5
                ],
                [
                    60.0,
                    9.0
                ],
                [
                    121.0,
                    79.0
                ],
                [
                    89.21,
                    70.0
                ],
                [
                    125.0,
                    68.0
                ],
                [
                    93.03,
                    67.0
                ],
                [
                    80.0,
                    38.2
                ],
                [
                    68.0,
                    32.0
                ],
                [
                    76.5,
                    47.0
                ],
                [
                    90.44,
                    16.0
                ],
                [
                    98.0,
                    67.0
                ],
                [
                    117.95,
                    39.0
                ],
                [
                    126.0,
                    99.0
                ],
                [
                    111.56,
                    63.0
                ],
                [
                    113.17,
                    68.0
                ],
                [
                    109.33,
                    23.0
                ],
                [
                    106.24,
                    68.0
                ],
                [
                    90.98,
                    90.0
                ],
                [
                    169.86,
                    188.0
                ],
                [
                    148.0,
                    119.8
                ],
                [
                    94.7,
                    46.8
                ],
                [
                    114.0,
                    106.5
                ],
                [
                    97.18,
                    56.8
                ],
                [
                    103.0,
                    85.0
                ],
                [
                    72.0,
                    33.8
                ],
                [
                    63.9,
                    25.8
                ],
                [
                    92.0,
                    68.0
                ],
                [
                    85.7,
                    80.0
                ],
                [
                    97.88,
                    79.8
                ],
                [
                    120.42,
                    96.0
                ],
                [
                    98.82,
                    40.0
                ],
                [
                    85.0,
                    58.8
                ],
                [
                    89.5,
                    95.0
                ],
                [
                    131.0,
                    75.0
                ],
                [
                    77.0,
                    54.8
                ],
                [
                    91.0,
                    48.8
                ],
                [
                    83.0,
                    41.5
                ],
                [
                    76.0,
                    23.8
                ],
                [
                    98.88,
                    49.0
                ],
                [
                    75.0,
                    43.8
                ],
                [
                    82.5,
                    45.0
                ],
                [
                    89.0,
                    54.5
                ],
                [
                    121.0,
                    88.0
                ],
                [
                    91.0,
                    88.0
                ],
                [
                    89.0,
                    54.0
                ],
                [
                    98.0,
                    73.0
                ],
                [
                    129.0,
                    94.2
                ],
                [
                    137.0,
                    93.8
                ],
                [
                    104.0,
                    68.0
                ],
                [
                    75.0,
                    39.8
                ],
                [
                    54.0,
                    25.0
                ],
                [
                    84.0,
                    46.8
                ],
                [
                    123.0,
                    136.8
                ],
                [
                    78.0,
                    37.8
                ],
                [
                    93.0,
                    49.8
                ],
                [
                    72.99,
                    48.8
                ],
                [
                    94.0,
                    55.8
                ],
                [
                    71.64,
                    28.8
                ],
                [
                    162.0,
                    199.0
                ],
                [
                    87.14,
                    66.5
                ],
                [
                    100.17,
                    135.0
                ],
                [
                    120.0,
                    125.0
                ],
                [
                    113.23,
                    57.0
                ],
                [
                    75.0,
                    41.8
                ],
                [
                    93.23,
                    59.8
                ],
                [
                    78.85,
                    56.8
                ],
                [
                    76.0,
                    49.8
                ],
                [
                    98.0,
                    69.8
                ],
                [
                    97.0,
                    55.8
                ],
                [
                    111.0,
                    67.8
                ],
                [
                    120.9,
                    40.0
                ],
                [
                    89.0,
                    56.8
                ],
                [
                    118.09,
                    60.0
                ],
                [
                    132.64,
                    123.35
                ],
                [
                    117.12,
                    150.0
                ],
                [
                    83.9,
                    86.0
                ],
                [
                    66.0,
                    45.8
                ],
                [
                    97.28,
                    37.0
                ],
                [
                    128.0,
                    112.0
                ],
                [
                    98.33,
                    93.0
                ],
                [
                    109.0,
                    95.0
                ],
                [
                    103.88,
                    83.8
                ],
                [
                    90.8,
                    83.8
                ],
                [
                    99.0,
                    95.0
                ],
                [
                    86.47,
                    58.8
                ],
                [
                    143.36,
                    125.0
                ],
                [
                    88.0,
                    96.8
                ],
                [
                    67.0,
                    39.8
                ],
                [
                    143.0,
                    46.8
                ],
                [
                    87.03,
                    91.0
                ],
                [
                    138.0,
                    115.0
                ],
                [
                    79.0,
                    48.8
                ],
                [
                    78.07,
                    69.0
                ],
                [
                    85.0,
                    78.0
                ],
                [
                    130.39,
                    108.0
                ],
                [
                    90.0,
                    85.0
                ],
                [
                    113.5,
                    96.8
                ],
                [
                    88.0,
                    88.0
                ],
                [
                    103.0,
                    88.0
                ],
                [
                    104.12,
                    52.0
                ],
                [
                    72.0,
                    39.8
                ],
                [
                    89.0,
                    87.0
                ],
                [
                    96.37,
                    88.0
                ],
                [
                    200.0,
                    170.0
                ],
                [
                    116.38,
                    130.0
                ],
                [
                    54.0,
                    33.8
                ],
                [
                    68.0,
                    31.5
                ],
                [
                    25.5,
                    13.8
                ],
                [
                    70.0,
                    26.8
                ],
                [
                    89.59,
                    73.8
                ],
                [
                    116.86,
                    63.8
                ],
                [
                    117.94,
                    60.8
                ],
                [
                    120.6,
                    74.5
                ],
                [
                    92.56,
                    85.0
                ],
                [
                    138.65,
                    180.0
                ],
                [
                    90.09,
                    85.0
                ],
                [
                    68.48,
                    41.8
                ],
                [
                    98.0,
                    117.5
                ],
                [
                    102.7,
                    23.8
                ],
                [
                    72.72,
                    19.8
                ],
                [
                    80.0,
                    48.5
                ],
                [
                    92.0,
                    83.0
                ],
                [
                    91.9,
                    58.0
                ],
                [
                    96.07,
                    90.0
                ],
                [
                    91.93,
                    59.8
                ],
                [
                    118.0,
                    73.0
                ],
                [
                    109.92,
                    72.8
                ],
                [
                    95.0,
                    98.0
                ],
                [
                    89.18,
                    105.0
                ],
                [
                    75.0,
                    35.8
                ],
                [
                    90.0,
                    98.5
                ],
                [
                    90.96,
                    59.7
                ],
                [
                    73.0,
                    43.5
                ],
                [
                    89.0,
                    46.8
                ],
                [
                    98.26,
                    72.8
                ],
                [
                    92.0,
                    57.0
                ],
                [
                    104.0,
                    49.0
                ],
                [
                    121.0,
                    82.0
                ],
                [
                    93.0,
                    33.0
                ],
                [
                    94.0,
                    37.0
                ],
                [
                    123.9,
                    87.8
                ],
                [
                    75.0,
                    33.8
                ],
                [
                    104.9,
                    93.0
                ],
                [
                    109.0,
                    60.0
                ],
                [
                    53.0,
                    21.8
                ],
                [
                    86.0,
                    34.8
                ],
                [
                    85.0,
                    43.8
                ],
                [
                    87.88,
                    48.0
                ],
                [
                    268.0,
                    430.0
                ],
                [
                    268.0,
                    410.0
                ],
                [
                    65.59,
                    28.0
                ],
                [
                    79.02,
                    42.5
                ],
                [
                    235.18,
                    280.0
                ],
                [
                    120.0,
                    111.8
                ],
                [
                    125.0,
                    78.0
                ],
                [
                    184.64,
                    267.0
                ],
                [
                    143.0,
                    168.0
                ],
                [
                    268.0,
                    400.0
                ],
                [
                    137.84,
                    130.0
                ],
                [
                    124.0,
                    90.5
                ],
                [
                    125.0,
                    130.0
                ],
                [
                    234.0,
                    218.0
                ],
                [
                    87.33,
                    58.0
                ],
                [
                    120.99,
                    91.0
                ],
                [
                    141.79,
                    83.0
                ],
                [
                    95.57,
                    76.8
                ],
                [
                    112.11,
                    73.0
                ],
                [
                    119.52,
                    83.0
                ],
                [
                    68.84,
                    14.2
                ],
                [
                    128.57,
                    83.5
                ],
                [
                    111.04,
                    79.9
                ],
                [
                    67.0,
                    19.8
                ],
                [
                    97.0,
                    51.0
                ],
                [
                    88.39,
                    15.5
                ],
                [
                    91.64,
                    43.0
                ],
                [
                    97.09,
                    32.5
                ],
                [
                    93.09,
                    59.0
                ],
                [
                    73.0,
                    53.0
                ],
                [
                    96.56,
                    55.0
                ],
                [
                    124.82,
                    94.0
                ],
                [
                    100.0,
                    130.0
                ],
                [
                    169.0,
                    178.0
                ],
                [
                    86.0,
                    63.8
                ],
                [
                    97.0,
                    58.5
                ],
                [
                    111.0,
                    35.0
                ],
                [
                    93.0,
                    26.0
                ],
                [
                    114.67,
                    92.5
                ],
                [
                    80.0,
                    39.6
                ],
                [
                    93.0,
                    56.0
                ],
                [
                    107.43,
                    65.0
                ],
                [
                    90.0,
                    23.0
                ],
                [
                    93.44,
                    58.0
                ],
                [
                    133.0,
                    89.0
                ],
                [
                    138.0,
                    100.0
                ],
                [
                    89.9,
                    39.8
                ],
                [
                    66.34,
                    35.0
                ],
                [
                    123.0,
                    88.0
                ],
                [
                    95.0,
                    31.8
                ],
                [
                    41.18,
                    14.5
                ],
                [
                    84.18,
                    69.0
                ],
                [
                    146.0,
                    130.0
                ],
                [
                    89.0,
                    82.0
                ],
                [
                    89.39,
                    85.0
                ],
                [
                    89.0,
                    79.8
                ],
                [
                    90.0,
                    78.0
                ],
                [
                    103.0,
                    34.0
                ],
                [
                    84.0,
                    51.5
                ],
                [
                    84.0,
                    68.6
                ],
                [
                    45.0,
                    28.8
                ],
                [
                    85.0,
                    39.8
                ],
                [
                    73.0,
                    55.0
                ],
                [
                    107.02,
                    139.0
                ],
                [
                    104.6,
                    136.0
                ],
                [
                    140.46,
                    140.5
                ],
                [
                    124.39,
                    102.0
                ],
                [
                    200.41,
                    150.0
                ],
                [
                    98.14,
                    73.0
                ],
                [
                    89.15,
                    79.0
                ],
                [
                    110.0,
                    99.0
                ],
                [
                    114.13,
                    79.8
                ],
                [
                    91.25,
                    66.0
                ],
                [
                    100.2,
                    89.0
                ],
                [
                    132.78,
                    126.0
                ],
                [
                    89.15,
                    93.0
                ],
                [
                    112.58,
                    121.0
                ],
                [
                    101.07,
                    77.0
                ],
                [
                    79.84,
                    67.0
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 400,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                84.54,
                110.0,
                121.85,
                85.41,
                110.85,
                89.0,
                98.53,
                108.03,
                108.92,
                79.17,
                163.0,
                135.0,
                83.54,
                104.51,
                60.0,
                121.0,
                89.21,
                125.0,
                93.03,
                80.0,
                68.0,
                76.5,
                90.44,
                98.0,
                117.95,
                126.0,
                111.56,
                113.17,
                109.33,
                106.24,
                90.98,
                169.86,
                148.0,
                94.7,
                114.0,
                97.18,
                103.0,
                72.0,
                63.9,
                92.0,
                85.7,
                97.88,
                120.42,
                98.82,
                85.0,
                89.5,
                131.0,
                77.0,
                91.0,
                83.0,
                76.0,
                98.88,
                75.0,
                82.5,
                89.0,
                121.0,
                91.0,
                89.0,
                98.0,
                129.0,
                137.0,
                104.0,
                75.0,
                54.0,
                84.0,
                123.0,
                78.0,
                93.0,
                72.99,
                94.0,
                71.64,
                162.0,
                87.14,
                100.17,
                120.0,
                113.23,
                75.0,
                93.23,
                78.85,
                76.0,
                98.0,
                97.0,
                111.0,
                120.9,
                89.0,
                118.09,
                132.64,
                117.12,
                83.9,
                66.0,
                97.28,
                128.0,
                98.33,
                109.0,
                103.88,
                90.8,
                99.0,
                86.47,
                143.36,
                88.0,
                67.0,
                143.0,
                87.03,
                138.0,
                79.0,
                78.07,
                85.0,
                130.39,
                90.0,
                113.5,
                88.0,
                103.0,
                104.12,
                72.0,
                89.0,
                96.37,
                200.0,
                116.38,
                54.0,
                68.0,
                25.5,
                70.0,
                89.59,
                116.86,
                117.94,
                120.6,
                92.56,
                138.65,
                90.09,
                68.48,
                98.0,
                102.7,
                72.72,
                80.0,
                92.0,
                91.9,
                96.07,
                91.93,
                118.0,
                109.92,
                95.0,
                89.18,
                75.0,
                90.0,
                90.96,
                73.0,
                89.0,
                98.26,
                92.0,
                104.0,
                121.0,
                93.0,
                94.0,
                123.9,
                75.0,
                104.9,
                109.0,
                53.0,
                86.0,
                85.0,
                87.88,
                268.0,
                268.0,
                65.59,
                79.02,
                235.18,
                120.0,
                125.0,
                184.64,
                143.0,
                268.0,
                137.84,
                124.0,
                125.0,
                234.0,
                87.33,
                120.99,
                141.79,
                95.57,
                112.11,
                119.52,
                68.84,
                128.57,
                111.04,
                67.0,
                97.0,
                88.39,
                91.64,
                97.09,
                93.09,
                73.0,
                96.56,
                124.82,
                100.0,
                169.0,
                86.0,
                97.0,
                111.0,
                93.0,
                114.67,
                80.0,
                93.0,
                107.43,
                90.0,
                93.44,
                133.0,
                138.0,
                89.9,
                66.34,
                123.0,
                95.0,
                41.18,
                84.18,
                146.0,
                89.0,
                89.39,
                89.0,
                90.0,
                103.0,
                84.0,
                84.0,
                45.0,
                85.0,
                73.0,
                107.02,
                104.6,
                140.46,
                124.39,
                200.41,
                98.14,
                89.15,
                110.0,
                114.13,
                91.25,
                100.2,
                132.78,
                89.15,
                112.58,
                101.07,
                79.84
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 1000,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 5000,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 1000,
        "textStyle": {
            "color": "green"
        },
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "horizontal",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_74b979ee25bd46d39a770ccc351261cd.setOption(option_74b979ee25bd46d39a770ccc351261cd);
    </script>
</body>
</html>
