<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="7f9a4efbaf384a499ab7f8d49da15be1" class="chart-container" style="width:410px; height:300px;"></div>
    <script>
        var chart_7f9a4efbaf384a499ab7f8d49da15be1 = echarts.init(
            document.getElementById('7f9a4efbaf384a499ab7f8d49da15be1'), 'white', {renderer: 'canvas'});
        var option_7f9a4efbaf384a499ab7f8d49da15be1 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#fadb71",
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u5957\u6570",
            "legendHoverLink": true,
            "data": [
                17,
                11,
                11,
                10,
                10,
                9,
                7,
                6,
                6,
                6
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u5c0f\u533a\u6bcf\u5e73\u65b9\u7c73\u5747\u4ef7",
            "connectNulls": false,
            "yAxisIndex": 1,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u627f\u7ff0\u9676\u67cf\u8389 ",
                    36600.0
                ],
                [
                    "\u5965\u56ed\u5cef\u835f ",
                    25749.73
                ],
                [
                    "\u5149\u660e1\u53f7 ",
                    45017.09
                ],
                [
                    "\u9f99\u5149\u7396\u9f99\u53f0 ",
                    49736.8
                ],
                [
                    "\u91d1\u4f17\u4e91\u5c71\u6816 ",
                    36636.6
                ],
                [
                    "\u6d77\u8bed\u5c71\u6797 ",
                    27919.56
                ],
                [
                    "\u6b63\u5146\u666f\u5609\u56ed ",
                    44667.86
                ],
                [
                    "\u5929\u6c47\u65f6\u4ee3\u82b1\u56ed\u4e00\u671f ",
                    48300.0
                ],
                [
                    "\u627f\u7ff0\u534a\u5c71\u6d77 ",
                    24785.5
                ],
                [
                    "\u4eac\u57fa\u5fa1\u666f\u5370\u8c61\u4e00\u671f ",
                    38800.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "color": "green",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid",
                "color": "#7fff00"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u5957\u6570",
                "\u5c0f\u533a\u6bcf\u5e73\u65b9\u7c73\u5747\u4ef7"
            ],
            "selected": {
                "\u5957\u6570": true,
                "\u5c0f\u533a\u6bcf\u5e73\u65b9\u7c73\u5747\u4ef7": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "textStyle": {
                "color": "green"
            }
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": -15,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u627f\u7ff0\u9676\u67cf\u8389 ",
                "\u5965\u56ed\u5cef\u835f ",
                "\u5149\u660e1\u53f7 ",
                "\u9f99\u5149\u7396\u9f99\u53f0 ",
                "\u91d1\u4f17\u4e91\u5c71\u6816 ",
                "\u6d77\u8bed\u5c71\u6797 ",
                "\u6b63\u5146\u666f\u5609\u56ed ",
                "\u5929\u6c47\u65f6\u4ee3\u82b1\u56ed\u4e00\u671f ",
                "\u627f\u7ff0\u534a\u5c71\u6d77 ",
                "\u4eac\u57fa\u5fa1\u666f\u5370\u8c61\u4e00\u671f "
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 20,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value} \u5957"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 60,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        },
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 8000,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value} \u5143"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_7f9a4efbaf384a499ab7f8d49da15be1.setOption(option_7f9a4efbaf384a499ab7f8d49da15be1);
    </script>
</body>
</html>
