<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="732d8d16757347dfb3cfc6d47c046db4" class="chart-container" style="width:410px; height:300px;"></div>
    <script>
        var chart_732d8d16757347dfb3cfc6d47c046db4 = echarts.init(
            document.getElementById('732d8d16757347dfb3cfc6d47c046db4'), 'white', {renderer: 'canvas'});
        var option_732d8d16757347dfb3cfc6d47c046db4 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#fadb71",
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u5957\u6570",
            "legendHoverLink": true,
            "data": [
                53,
                7,
                7,
                6,
                6,
                5,
                4,
                4,
                3,
                3
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\u5c0f\u533a\u6bcf\u5e73\u65b9\u7c73\u5747\u4ef7",
            "connectNulls": false,
            "yAxisIndex": 1,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\u78a7\u6842\u56ed\u6e05\u6cc9\u57ce ",
                    7566.26
                ],
                [
                    "\u6e05\u8fdc\u65f6\u4ee3\u9999\u6d77\u5f7c\u5cb8 ",
                    8892.57
                ],
                [
                    "\u78a7\u6842\u56ed\u5c71\u6e56\u57ce ",
                    6815.43
                ],
                [
                    "\u5fa1\u6797\u82d1 ",
                    5982.5
                ],
                [
                    "\u6052\u5927\u91d1\u78a7\u5929\u4e0b\u798f\u5c71\u533a ",
                    4989.67
                ],
                [
                    "\u9633\u5149100\u963f\u5c14\u52d2 ",
                    4941.2
                ],
                [
                    "\u7f8e\u6797\u5b8f\u666f\u65b0\u57ce ",
                    6295.75
                ],
                [
                    "\u6052\u5927\u91d1\u78a7\u5929\u4e0b ",
                    3375.5
                ],
                [
                    "\u78a7\u6842\u56ed\u9e64\u9e23\u6d32 ",
                    21029.67
                ],
                [
                    "\u5c71\u6e56\u4e16\u7eaa\u82b1\u56ed ",
                    6113.0
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "color": "green",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid",
                "color": "#7fff00"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u5957\u6570",
                "\u5c0f\u533a\u6bcf\u5e73\u65b9\u7c73\u5747\u4ef7"
            ],
            "selected": {
                "\u5957\u6570": true,
                "\u5c0f\u533a\u6bcf\u5e73\u65b9\u7c73\u5747\u4ef7": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "textStyle": {
                "color": "green"
            }
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": -15,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u78a7\u6842\u56ed\u6e05\u6cc9\u57ce ",
                "\u6e05\u8fdc\u65f6\u4ee3\u9999\u6d77\u5f7c\u5cb8 ",
                "\u78a7\u6842\u56ed\u5c71\u6e56\u57ce ",
                "\u5fa1\u6797\u82d1 ",
                "\u6052\u5927\u91d1\u78a7\u5929\u4e0b\u798f\u5c71\u533a ",
                "\u9633\u5149100\u963f\u5c14\u52d2 ",
                "\u7f8e\u6797\u5b8f\u666f\u65b0\u57ce ",
                "\u6052\u5927\u91d1\u78a7\u5929\u4e0b ",
                "\u78a7\u6842\u56ed\u9e64\u9e23\u6d32 ",
                "\u5c71\u6e56\u4e16\u7eaa\u82b1\u56ed "
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 20,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value} \u5957"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 60,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        },
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 8000,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value} \u5143"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_732d8d16757347dfb3cfc6d47c046db4.setOption(option_732d8d16757347dfb3cfc6d47c046db4);
    </script>
</body>
</html>
