<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="659e5c6b6b4b46b8b752f55e541b8ede" class="chart-container" style="width:450px; height:280px;"></div>
    <script>
        var chart_659e5c6b6b4b46b8b752f55e541b8ede = echarts.init(
            document.getElementById('659e5c6b6b4b46b8b752f55e541b8ede'), 'white', {renderer: 'canvas'});
        var option_659e5c6b6b4b46b8b752f55e541b8ede = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "symbolSize": 10,
            "data": [
                [
                    151.82,
                    96.8
                ],
                [
                    96.0,
                    82.8
                ],
                [
                    95.72,
                    88.0
                ],
                [
                    86.26,
                    58.0
                ],
                [
                    84.0,
                    70.0
                ],
                [
                    86.26,
                    55.0
                ],
                [
                    156.1,
                    85.0
                ],
                [
                    30.0,
                    11.5
                ],
                [
                    158.12,
                    65.8
                ],
                [
                    114.83,
                    55.0
                ],
                [
                    95.7,
                    90.0
                ],
                [
                    246.0,
                    149.0
                ],
                [
                    29.4,
                    10.0
                ],
                [
                    84.0,
                    67.5
                ],
                [
                    153.72,
                    68.0
                ],
                [
                    148.65,
                    67.0
                ],
                [
                    182.54,
                    76.8
                ],
                [
                    172.4,
                    105.0
                ],
                [
                    65.74,
                    30.0
                ],
                [
                    120.4,
                    71.8
                ],
                [
                    140.0,
                    76.0
                ],
                [
                    78.87,
                    26.8
                ],
                [
                    71.0,
                    38.8
                ],
                [
                    99.0,
                    61.8
                ],
                [
                    107.0,
                    57.8
                ],
                [
                    77.93,
                    45.0
                ],
                [
                    78.0,
                    23.0
                ],
                [
                    137.0,
                    48.0
                ],
                [
                    149.0,
                    69.0
                ],
                [
                    191.9,
                    102.0
                ],
                [
                    93.5,
                    32.8
                ],
                [
                    58.0,
                    26.8
                ],
                [
                    233.84,
                    240.0
                ],
                [
                    179.98,
                    380.0
                ],
                [
                    66.6,
                    27.0
                ],
                [
                    144.0,
                    205.0
                ],
                [
                    120.89,
                    58.0
                ],
                [
                    68.18,
                    30.0
                ],
                [
                    253.18,
                    360.0
                ],
                [
                    230.12,
                    298.0
                ],
                [
                    65.0,
                    29.5
                ],
                [
                    206.56,
                    260.0
                ],
                [
                    116.41,
                    48.5
                ],
                [
                    139.5,
                    70.0
                ],
                [
                    90.23,
                    50.0
                ],
                [
                    89.5,
                    50.0
                ],
                [
                    311.0,
                    338.0
                ],
                [
                    215.8,
                    248.0
                ],
                [
                    233.85,
                    280.0
                ],
                [
                    116.9,
                    60.0
                ],
                [
                    180.0,
                    270.0
                ],
                [
                    222.77,
                    258.0
                ],
                [
                    233.0,
                    259.0
                ],
                [
                    311.54,
                    300.0
                ],
                [
                    175.0,
                    330.0
                ],
                [
                    77.0,
                    50.0
                ],
                [
                    233.84,
                    260.0
                ],
                [
                    62.68,
                    30.0
                ],
                [
                    66.0,
                    28.0
                ],
                [
                    92.0,
                    50.0
                ],
                [
                    194.44,
                    110.0
                ],
                [
                    214.44,
                    350.0
                ],
                [
                    139.98,
                    129.0
                ],
                [
                    97.1,
                    72.0
                ],
                [
                    139.1,
                    95.0
                ],
                [
                    155.07,
                    92.8
                ],
                [
                    112.21,
                    80.0
                ],
                [
                    71.97,
                    25.6
                ],
                [
                    87.16,
                    57.8
                ],
                [
                    140.0,
                    86.0
                ],
                [
                    95.26,
                    65.0
                ],
                [
                    140.23,
                    103.0
                ],
                [
                    111.2,
                    64.0
                ],
                [
                    165.39,
                    115.0
                ],
                [
                    134.48,
                    121.0
                ],
                [
                    145.86,
                    155.0
                ],
                [
                    111.5,
                    94.0
                ],
                [
                    245.04,
                    135.0
                ],
                [
                    141.09,
                    95.0
                ],
                [
                    143.0,
                    93.8
                ],
                [
                    79.0,
                    42.0
                ],
                [
                    137.35,
                    88.0
                ],
                [
                    117.13,
                    96.0
                ],
                [
                    77.14,
                    57.0
                ],
                [
                    112.0,
                    70.0
                ],
                [
                    100.9,
                    85.0
                ],
                [
                    96.94,
                    76.0
                ],
                [
                    105.0,
                    63.0
                ],
                [
                    112.0,
                    73.0
                ],
                [
                    118.28,
                    75.0
                ],
                [
                    79.0,
                    24.8
                ],
                [
                    184.0,
                    128.0
                ],
                [
                    103.0,
                    68.8
                ],
                [
                    105.25,
                    31.0
                ],
                [
                    80.86,
                    39.8
                ],
                [
                    61.3,
                    20.0
                ],
                [
                    39.0,
                    16.0
                ],
                [
                    191.0,
                    76.0
                ],
                [
                    83.63,
                    73.0
                ],
                [
                    178.09,
                    82.8
                ],
                [
                    128.29,
                    69.8
                ],
                [
                    123.0,
                    75.0
                ],
                [
                    335.0,
                    160.0
                ],
                [
                    123.84,
                    76.0
                ],
                [
                    123.0,
                    73.8
                ],
                [
                    116.0,
                    53.0
                ],
                [
                    112.42,
                    72.0
                ],
                [
                    165.63,
                    103.8
                ],
                [
                    90.19,
                    42.0
                ],
                [
                    280.12,
                    176.0
                ],
                [
                    115.7,
                    55.0
                ],
                [
                    95.72,
                    95.0
                ],
                [
                    194.0,
                    125.0
                ],
                [
                    309.0,
                    220.0
                ],
                [
                    142.0,
                    146.0
                ],
                [
                    95.12,
                    66.0
                ],
                [
                    137.51,
                    76.0
                ],
                [
                    85.51,
                    55.9
                ],
                [
                    97.0,
                    74.0
                ],
                [
                    124.0,
                    80.0
                ],
                [
                    106.0,
                    67.8
                ],
                [
                    84.0,
                    36.8
                ],
                [
                    58.0,
                    28.0
                ],
                [
                    55.0,
                    30.0
                ],
                [
                    111.0,
                    60.0
                ],
                [
                    111.0,
                    59.0
                ],
                [
                    111.32,
                    58.0
                ],
                [
                    133.45,
                    185.0
                ],
                [
                    95.16,
                    68.0
                ],
                [
                    63.0,
                    36.0
                ],
                [
                    111.3,
                    68.0
                ],
                [
                    120.0,
                    55.0
                ],
                [
                    139.0,
                    66.0
                ],
                [
                    95.42,
                    45.0
                ],
                [
                    102.23,
                    60.0
                ],
                [
                    145.0,
                    235.0
                ],
                [
                    62.69,
                    33.0
                ],
                [
                    150.0,
                    100.0
                ],
                [
                    93.0,
                    43.0
                ],
                [
                    79.0,
                    45.0
                ],
                [
                    136.98,
                    84.76
                ],
                [
                    127.57,
                    74.8
                ],
                [
                    94.59,
                    60.0
                ],
                [
                    111.78,
                    76.0
                ],
                [
                    110.61,
                    80.8
                ],
                [
                    143.0,
                    42.0
                ],
                [
                    65.27,
                    33.0
                ],
                [
                    71.65,
                    32.0
                ],
                [
                    101.0,
                    73.8
                ],
                [
                    142.04,
                    139.0
                ],
                [
                    71.0,
                    45.0
                ],
                [
                    110.0,
                    55.0
                ],
                [
                    58.0,
                    34.0
                ],
                [
                    115.0,
                    56.0
                ],
                [
                    58.0,
                    30.0
                ],
                [
                    63.0,
                    58.0
                ],
                [
                    145.33,
                    308.0
                ],
                [
                    186.67,
                    479.5
                ],
                [
                    56.58,
                    33.0
                ],
                [
                    111.32,
                    63.0
                ],
                [
                    93.45,
                    52.0
                ],
                [
                    98.19,
                    78.0
                ],
                [
                    110.0,
                    56.0
                ],
                [
                    104.8,
                    64.5
                ],
                [
                    110.06,
                    75.0
                ],
                [
                    98.81,
                    58.0
                ],
                [
                    86.19,
                    38.0
                ],
                [
                    105.97,
                    55.1
                ],
                [
                    75.68,
                    58.0
                ],
                [
                    76.0,
                    43.8
                ],
                [
                    97.67,
                    78.0
                ],
                [
                    95.0,
                    66.8
                ],
                [
                    97.78,
                    45.0
                ],
                [
                    92.48,
                    52.0
                ],
                [
                    103.3,
                    65.0
                ],
                [
                    122.29,
                    88.8
                ],
                [
                    114.0,
                    69.0
                ],
                [
                    184.21,
                    290.0
                ],
                [
                    166.27,
                    116.0
                ],
                [
                    112.7,
                    55.0
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 400,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                151.82,
                96.0,
                95.72,
                86.26,
                84.0,
                86.26,
                156.1,
                30.0,
                158.12,
                114.83,
                95.7,
                246.0,
                29.4,
                84.0,
                153.72,
                148.65,
                182.54,
                172.4,
                65.74,
                120.4,
                140.0,
                78.87,
                71.0,
                99.0,
                107.0,
                77.93,
                78.0,
                137.0,
                149.0,
                191.9,
                93.5,
                58.0,
                233.84,
                179.98,
                66.6,
                144.0,
                120.89,
                68.18,
                253.18,
                230.12,
                65.0,
                206.56,
                116.41,
                139.5,
                90.23,
                89.5,
                311.0,
                215.8,
                233.85,
                116.9,
                180.0,
                222.77,
                233.0,
                311.54,
                175.0,
                77.0,
                233.84,
                62.68,
                66.0,
                92.0,
                194.44,
                214.44,
                139.98,
                97.1,
                139.1,
                155.07,
                112.21,
                71.97,
                87.16,
                140.0,
                95.26,
                140.23,
                111.2,
                165.39,
                134.48,
                145.86,
                111.5,
                245.04,
                141.09,
                143.0,
                79.0,
                137.35,
                117.13,
                77.14,
                112.0,
                100.9,
                96.94,
                105.0,
                112.0,
                118.28,
                79.0,
                184.0,
                103.0,
                105.25,
                80.86,
                61.3,
                39.0,
                191.0,
                83.63,
                178.09,
                128.29,
                123.0,
                335.0,
                123.84,
                123.0,
                116.0,
                112.42,
                165.63,
                90.19,
                280.12,
                115.7,
                95.72,
                194.0,
                309.0,
                142.0,
                95.12,
                137.51,
                85.51,
                97.0,
                124.0,
                106.0,
                84.0,
                58.0,
                55.0,
                111.0,
                111.0,
                111.32,
                133.45,
                95.16,
                63.0,
                111.3,
                120.0,
                139.0,
                95.42,
                102.23,
                145.0,
                62.69,
                150.0,
                93.0,
                79.0,
                136.98,
                127.57,
                94.59,
                111.78,
                110.61,
                143.0,
                65.27,
                71.65,
                101.0,
                142.04,
                71.0,
                110.0,
                58.0,
                115.0,
                58.0,
                63.0,
                145.33,
                186.67,
                56.58,
                111.32,
                93.45,
                98.19,
                110.0,
                104.8,
                110.06,
                98.81,
                86.19,
                105.97,
                75.68,
                76.0,
                97.67,
                95.0,
                97.78,
                92.48,
                103.3,
                122.29,
                114.0,
                184.21,
                166.27,
                112.7
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 1000,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 5000,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 1000,
        "textStyle": {
            "color": "green"
        },
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "horizontal",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_659e5c6b6b4b46b8b752f55e541b8ede.setOption(option_659e5c6b6b4b46b8b752f55e541b8ede);
    </script>
</body>
</html>
