<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="4c8307fedfc1427d938b47de55431e51" class="chart-container" style="width:450px; height:280px;"></div>
    <script>
        var chart_4c8307fedfc1427d938b47de55431e51 = echarts.init(
            document.getElementById('4c8307fedfc1427d938b47de55431e51'), 'white', {renderer: 'canvas'});
        var option_4c8307fedfc1427d938b47de55431e51 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "scatter",
            "symbolSize": 10,
            "data": [
                [
                    93.0,
                    75.0
                ],
                [
                    124.0,
                    82.0
                ],
                [
                    102.0,
                    81.0
                ],
                [
                    103.03,
                    99.0
                ],
                [
                    131.0,
                    85.0
                ],
                [
                    93.0,
                    80.0
                ],
                [
                    145.0,
                    116.0
                ],
                [
                    118.0,
                    120.0
                ],
                [
                    68.9,
                    63.0
                ],
                [
                    131.0,
                    72.0
                ],
                [
                    124.0,
                    88.0
                ],
                [
                    138.0,
                    108.0
                ],
                [
                    131.0,
                    71.8
                ],
                [
                    99.7,
                    67.0
                ],
                [
                    78.15,
                    62.0
                ],
                [
                    96.5,
                    76.0
                ],
                [
                    80.0,
                    70.0
                ],
                [
                    122.37,
                    115.0
                ],
                [
                    177.0,
                    168.0
                ],
                [
                    108.0,
                    98.0
                ],
                [
                    244.0,
                    300.0
                ],
                [
                    103.0,
                    70.0
                ],
                [
                    48.0,
                    38.0
                ],
                [
                    60.0,
                    39.0
                ],
                [
                    75.0,
                    59.0
                ],
                [
                    74.0,
                    70.0
                ],
                [
                    102.0,
                    76.0
                ],
                [
                    80.61,
                    82.0
                ],
                [
                    101.74,
                    60.0
                ],
                [
                    48.75,
                    35.0
                ],
                [
                    101.44,
                    98.0
                ],
                [
                    103.0,
                    55.0
                ],
                [
                    74.0,
                    55.0
                ],
                [
                    103.0,
                    65.0
                ],
                [
                    81.29,
                    88.0
                ],
                [
                    102.0,
                    80.0
                ],
                [
                    93.46,
                    78.8
                ],
                [
                    74.0,
                    60.0
                ],
                [
                    84.0,
                    78.0
                ],
                [
                    76.0,
                    60.0
                ],
                [
                    131.66,
                    70.88
                ],
                [
                    82.0,
                    26.8
                ],
                [
                    132.0,
                    60.0
                ],
                [
                    102.78,
                    23.8
                ],
                [
                    126.28,
                    59.0
                ],
                [
                    139.9,
                    63.8
                ],
                [
                    110.47,
                    65.0
                ],
                [
                    135.0,
                    80.0
                ],
                [
                    142.81,
                    80.0
                ],
                [
                    118.0,
                    70.0
                ],
                [
                    100.0,
                    52.0
                ],
                [
                    115.0,
                    64.0
                ],
                [
                    278.0,
                    160.0
                ],
                [
                    100.7,
                    58.0
                ],
                [
                    127.0,
                    86.0
                ],
                [
                    91.0,
                    56.0
                ],
                [
                    79.06,
                    19.0
                ],
                [
                    90.0,
                    50.0
                ],
                [
                    122.8,
                    87.0
                ],
                [
                    83.0,
                    28.0
                ],
                [
                    131.66,
                    80.0
                ],
                [
                    124.0,
                    38.0
                ],
                [
                    115.0,
                    81.0
                ],
                [
                    129.14,
                    65.0
                ],
                [
                    131.0,
                    98.0
                ],
                [
                    120.0,
                    73.0
                ],
                [
                    159.14,
                    60.0
                ],
                [
                    134.0,
                    161.0
                ],
                [
                    131.6,
                    80.0
                ],
                [
                    111.0,
                    96.0
                ],
                [
                    110.0,
                    95.0
                ],
                [
                    123.0,
                    75.0
                ],
                [
                    101.93,
                    82.0
                ],
                [
                    89.0,
                    83.0
                ],
                [
                    177.31,
                    156.0
                ],
                [
                    106.0,
                    92.0
                ],
                [
                    134.52,
                    117.0
                ],
                [
                    108.45,
                    82.0
                ],
                [
                    83.82,
                    55.0
                ],
                [
                    83.7,
                    90.0
                ],
                [
                    101.0,
                    72.0
                ],
                [
                    102.0,
                    80.0
                ],
                [
                    100.1,
                    90.0
                ],
                [
                    48.75,
                    35.0
                ],
                [
                    47.95,
                    36.8
                ],
                [
                    48.0,
                    41.0
                ],
                [
                    45.0,
                    47.0
                ],
                [
                    48.0,
                    30.0
                ],
                [
                    331.0,
                    280.0
                ],
                [
                    140.0,
                    90.0
                ],
                [
                    136.0,
                    93.8
                ],
                [
                    73.0,
                    43.0
                ],
                [
                    143.0,
                    110.0
                ],
                [
                    124.0,
                    89.0
                ],
                [
                    145.0,
                    88.0
                ],
                [
                    124.0,
                    92.0
                ],
                [
                    124.0,
                    80.0
                ],
                [
                    99.0,
                    57.0
                ],
                [
                    118.0,
                    88.0
                ],
                [
                    95.0,
                    55.0
                ],
                [
                    98.0,
                    53.0
                ],
                [
                    138.84,
                    106.8
                ],
                [
                    113.0,
                    63.0
                ],
                [
                    97.0,
                    61.0
                ],
                [
                    104.0,
                    60.0
                ],
                [
                    125.0,
                    83.0
                ],
                [
                    127.8,
                    82.5
                ],
                [
                    139.09,
                    86.0
                ],
                [
                    138.0,
                    76.0
                ],
                [
                    123.0,
                    78.0
                ],
                [
                    123.0,
                    96.0
                ],
                [
                    125.0,
                    87.0
                ],
                [
                    112.0,
                    70.0
                ],
                [
                    124.0,
                    90.0
                ],
                [
                    138.0,
                    86.0
                ],
                [
                    116.0,
                    85.0
                ],
                [
                    102.0,
                    68.0
                ],
                [
                    123.0,
                    86.0
                ],
                [
                    98.0,
                    75.0
                ],
                [
                    99.8,
                    75.0
                ],
                [
                    125.69,
                    158.0
                ],
                [
                    78.75,
                    95.0
                ],
                [
                    169.0,
                    230.0
                ],
                [
                    136.0,
                    170.0
                ],
                [
                    120.0,
                    145.0
                ],
                [
                    146.0,
                    188.0
                ],
                [
                    106.0,
                    130.0
                ],
                [
                    130.0,
                    189.0
                ],
                [
                    195.0,
                    273.0
                ],
                [
                    124.27,
                    125.0
                ],
                [
                    122.0,
                    163.0
                ],
                [
                    90.15,
                    85.0
                ],
                [
                    140.0,
                    163.0
                ],
                [
                    108.6,
                    145.0
                ],
                [
                    99.0,
                    155.0
                ],
                [
                    129.0,
                    123.0
                ],
                [
                    83.0,
                    45.0
                ],
                [
                    155.0,
                    128.0
                ],
                [
                    129.0,
                    150.0
                ],
                [
                    138.0,
                    152.0
                ],
                [
                    134.0,
                    175.0
                ],
                [
                    255.0,
                    250.0
                ],
                [
                    143.0,
                    103.0
                ],
                [
                    100.65,
                    150.0
                ],
                [
                    186.0,
                    288.0
                ],
                [
                    97.56,
                    120.0
                ],
                [
                    101.0,
                    92.0
                ],
                [
                    133.0,
                    200.0
                ],
                [
                    141.0,
                    188.0
                ],
                [
                    96.0,
                    118.0
                ],
                [
                    111.43,
                    125.0
                ],
                [
                    106.0,
                    133.0
                ],
                [
                    142.0,
                    130.0
                ],
                [
                    140.0,
                    48.0
                ],
                [
                    71.0,
                    43.0
                ],
                [
                    106.0,
                    65.0
                ],
                [
                    154.57,
                    103.0
                ],
                [
                    88.48,
                    82.0
                ],
                [
                    98.0,
                    150.0
                ],
                [
                    89.0,
                    55.0
                ],
                [
                    115.0,
                    55.0
                ],
                [
                    103.34,
                    98.0
                ],
                [
                    107.4,
                    130.0
                ],
                [
                    176.07,
                    98.0
                ],
                [
                    127.0,
                    95.0
                ],
                [
                    141.0,
                    69.0
                ],
                [
                    95.0,
                    152.0
                ],
                [
                    142.0,
                    132.0
                ],
                [
                    127.41,
                    120.0
                ],
                [
                    145.0,
                    118.0
                ],
                [
                    105.0,
                    75.0
                ],
                [
                    90.0,
                    105.0
                ],
                [
                    120.0,
                    70.0
                ],
                [
                    121.0,
                    115.0
                ],
                [
                    95.77,
                    57.0
                ],
                [
                    74.96,
                    35.8
                ],
                [
                    69.0,
                    35.0
                ],
                [
                    78.29,
                    95.0
                ],
                [
                    88.66,
                    50.0
                ],
                [
                    91.46,
                    95.0
                ],
                [
                    72.32,
                    56.0
                ],
                [
                    118.89,
                    95.0
                ],
                [
                    123.0,
                    68.0
                ],
                [
                    110.35,
                    88.0
                ],
                [
                    97.0,
                    73.0
                ],
                [
                    132.8,
                    90.0
                ],
                [
                    118.0,
                    88.0
                ],
                [
                    123.38,
                    73.0
                ],
                [
                    118.0,
                    90.0
                ],
                [
                    102.0,
                    71.0
                ],
                [
                    118.0,
                    97.0
                ],
                [
                    153.0,
                    99.0
                ],
                [
                    106.0,
                    60.0
                ],
                [
                    98.0,
                    52.0
                ],
                [
                    177.78,
                    83.0
                ],
                [
                    126.0,
                    80.0
                ],
                [
                    166.73,
                    60.0
                ],
                [
                    142.0,
                    78.0
                ],
                [
                    99.7,
                    18.0
                ],
                [
                    97.0,
                    23.0
                ],
                [
                    112.87,
                    37.0
                ],
                [
                    65.0,
                    60.0
                ],
                [
                    64.15,
                    60.0
                ],
                [
                    47.0,
                    35.0
                ],
                [
                    48.0,
                    48.0
                ],
                [
                    49.0,
                    30.0
                ],
                [
                    48.0,
                    33.0
                ],
                [
                    48.36,
                    28.0
                ],
                [
                    41.42,
                    18.0
                ],
                [
                    48.0,
                    35.0
                ],
                [
                    74.41,
                    68.0
                ],
                [
                    47.51,
                    45.0
                ],
                [
                    48.16,
                    40.0
                ],
                [
                    49.0,
                    48.0
                ],
                [
                    48.0,
                    38.0
                ],
                [
                    48.75,
                    35.0
                ],
                [
                    88.0,
                    62.6
                ],
                [
                    273.45,
                    240.0
                ],
                [
                    118.0,
                    95.0
                ],
                [
                    139.0,
                    120.0
                ],
                [
                    165.0,
                    118.0
                ],
                [
                    138.0,
                    90.0
                ],
                [
                    139.0,
                    125.0
                ],
                [
                    118.51,
                    87.0
                ],
                [
                    270.0,
                    221.0
                ],
                [
                    168.0,
                    130.0
                ],
                [
                    124.0,
                    100.0
                ],
                [
                    118.0,
                    91.0
                ],
                [
                    138.06,
                    100.0
                ],
                [
                    100.0,
                    67.0
                ],
                [
                    111.0,
                    98.0
                ],
                [
                    96.86,
                    70.0
                ],
                [
                    116.0,
                    109.0
                ],
                [
                    123.0,
                    88.0
                ],
                [
                    97.0,
                    65.0
                ],
                [
                    125.0,
                    88.0
                ],
                [
                    141.2,
                    88.0
                ],
                [
                    90.0,
                    55.0
                ],
                [
                    118.0,
                    75.0
                ],
                [
                    128.0,
                    49.5
                ],
                [
                    105.0,
                    53.8
                ],
                [
                    90.0,
                    55.0
                ],
                [
                    207.0,
                    168.0
                ],
                [
                    117.0,
                    35.0
                ],
                [
                    142.81,
                    78.0
                ],
                [
                    126.0,
                    78.0
                ],
                [
                    59.54,
                    48.0
                ],
                [
                    47.96,
                    43.0
                ],
                [
                    48.76,
                    31.0
                ],
                [
                    48.2,
                    40.0
                ],
                [
                    102.0,
                    90.0
                ],
                [
                    60.0,
                    48.0
                ],
                [
                    48.0,
                    29.0
                ],
                [
                    73.0,
                    55.0
                ],
                [
                    49.0,
                    31.0
                ],
                [
                    76.0,
                    65.0
                ],
                [
                    48.12,
                    28.8
                ],
                [
                    41.0,
                    24.0
                ],
                [
                    48.0,
                    32.0
                ],
                [
                    48.0,
                    27.0
                ],
                [
                    90.78,
                    46.0
                ],
                [
                    169.0,
                    208.0
                ],
                [
                    157.0,
                    210.0
                ],
                [
                    146.0,
                    220.0
                ],
                [
                    116.0,
                    137.0
                ],
                [
                    135.0,
                    150.0
                ],
                [
                    76.15,
                    50.0
                ],
                [
                    106.5,
                    106.0
                ],
                [
                    108.0,
                    82.0
                ],
                [
                    187.2,
                    178.0
                ],
                [
                    122.0,
                    99.8
                ],
                [
                    116.0,
                    106.0
                ],
                [
                    156.0,
                    139.0
                ],
                [
                    122.0,
                    90.0
                ],
                [
                    139.86,
                    130.0
                ],
                [
                    141.0,
                    146.0
                ],
                [
                    106.0,
                    88.0
                ],
                [
                    100.0,
                    78.0
                ],
                [
                    131.0,
                    78.0
                ],
                [
                    154.0,
                    100.0
                ],
                [
                    124.54,
                    33.0
                ],
                [
                    122.22,
                    34.5
                ],
                [
                    105.6,
                    28.0
                ],
                [
                    148.0,
                    74.0
                ],
                [
                    91.73,
                    26.0
                ],
                [
                    142.8,
                    69.8
                ],
                [
                    133.0,
                    58.0
                ],
                [
                    128.5,
                    45.0
                ],
                [
                    96.0,
                    112.0
                ],
                [
                    130.0,
                    168.0
                ],
                [
                    92.0,
                    118.0
                ],
                [
                    87.0,
                    34.0
                ],
                [
                    126.0,
                    152.0
                ],
                [
                    96.0,
                    115.0
                ],
                [
                    104.0,
                    135.0
                ],
                [
                    102.0,
                    149.0
                ],
                [
                    128.49,
                    168.0
                ],
                [
                    105.0,
                    136.0
                ],
                [
                    157.04,
                    143.0
                ],
                [
                    159.0,
                    148.0
                ],
                [
                    88.0,
                    105.0
                ],
                [
                    113.0,
                    146.0
                ],
                [
                    52.0,
                    83.0
                ],
                [
                    55.0,
                    65.0
                ],
                [
                    138.0,
                    160.0
                ],
                [
                    117.0,
                    150.0
                ],
                [
                    98.04,
                    119.0
                ],
                [
                    138.0,
                    173.0
                ],
                [
                    70.67,
                    83.0
                ],
                [
                    126.0,
                    152.0
                ],
                [
                    114.0,
                    148.0
                ],
                [
                    100.65,
                    59.0
                ],
                [
                    148.0,
                    230.0
                ],
                [
                    176.88,
                    150.0
                ],
                [
                    101.23,
                    82.0
                ],
                [
                    105.37,
                    95.0
                ],
                [
                    131.71,
                    63.0
                ],
                [
                    99.9,
                    80.0
                ],
                [
                    177.31,
                    163.0
                ],
                [
                    96.41,
                    100.0
                ],
                [
                    126.32,
                    115.0
                ],
                [
                    78.0,
                    54.6
                ],
                [
                    110.4,
                    93.0
                ],
                [
                    105.0,
                    106.0
                ],
                [
                    105.0,
                    90.0
                ],
                [
                    101.0,
                    75.0
                ],
                [
                    92.0,
                    82.0
                ],
                [
                    96.7,
                    70.0
                ],
                [
                    71.0,
                    70.0
                ],
                [
                    123.0,
                    110.0
                ],
                [
                    137.0,
                    188.0
                ],
                [
                    64.0,
                    35.0
                ],
                [
                    75.0,
                    36.8
                ],
                [
                    126.0,
                    142.0
                ],
                [
                    96.0,
                    62.0
                ],
                [
                    110.0,
                    52.0
                ],
                [
                    57.23,
                    35.0
                ],
                [
                    135.0,
                    125.0
                ],
                [
                    143.0,
                    183.0
                ],
                [
                    92.0,
                    26.0
                ],
                [
                    88.0,
                    46.0
                ],
                [
                    84.0,
                    89.0
                ],
                [
                    119.0,
                    155.0
                ],
                [
                    110.0,
                    83.0
                ],
                [
                    117.5,
                    86.0
                ],
                [
                    166.0,
                    190.0
                ],
                [
                    197.0,
                    320.0
                ],
                [
                    110.0,
                    52.0
                ],
                [
                    120.0,
                    76.0
                ],
                [
                    135.0,
                    120.0
                ],
                [
                    91.0,
                    56.5
                ],
                [
                    125.0,
                    85.0
                ],
                [
                    75.0,
                    66.0
                ],
                [
                    80.0,
                    70.0
                ],
                [
                    100.0,
                    100.0
                ],
                [
                    148.75,
                    178.0
                ],
                [
                    125.0,
                    103.0
                ],
                [
                    99.5,
                    123.0
                ],
                [
                    106.0,
                    140.0
                ],
                [
                    144.0,
                    129.0
                ]
            ],
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 400,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                93.0,
                124.0,
                102.0,
                103.03,
                131.0,
                93.0,
                145.0,
                118.0,
                68.9,
                131.0,
                124.0,
                138.0,
                131.0,
                99.7,
                78.15,
                96.5,
                80.0,
                122.37,
                177.0,
                108.0,
                244.0,
                103.0,
                48.0,
                60.0,
                75.0,
                74.0,
                102.0,
                80.61,
                101.74,
                48.75,
                101.44,
                103.0,
                74.0,
                103.0,
                81.29,
                102.0,
                93.46,
                74.0,
                84.0,
                76.0,
                131.66,
                82.0,
                132.0,
                102.78,
                126.28,
                139.9,
                110.47,
                135.0,
                142.81,
                118.0,
                100.0,
                115.0,
                278.0,
                100.7,
                127.0,
                91.0,
                79.06,
                90.0,
                122.8,
                83.0,
                131.66,
                124.0,
                115.0,
                129.14,
                131.0,
                120.0,
                159.14,
                134.0,
                131.6,
                111.0,
                110.0,
                123.0,
                101.93,
                89.0,
                177.31,
                106.0,
                134.52,
                108.45,
                83.82,
                83.7,
                101.0,
                102.0,
                100.1,
                48.75,
                47.95,
                48.0,
                45.0,
                48.0,
                331.0,
                140.0,
                136.0,
                73.0,
                143.0,
                124.0,
                145.0,
                124.0,
                124.0,
                99.0,
                118.0,
                95.0,
                98.0,
                138.84,
                113.0,
                97.0,
                104.0,
                125.0,
                127.8,
                139.09,
                138.0,
                123.0,
                123.0,
                125.0,
                112.0,
                124.0,
                138.0,
                116.0,
                102.0,
                123.0,
                98.0,
                99.8,
                125.69,
                78.75,
                169.0,
                136.0,
                120.0,
                146.0,
                106.0,
                130.0,
                195.0,
                124.27,
                122.0,
                90.15,
                140.0,
                108.6,
                99.0,
                129.0,
                83.0,
                155.0,
                129.0,
                138.0,
                134.0,
                255.0,
                143.0,
                100.65,
                186.0,
                97.56,
                101.0,
                133.0,
                141.0,
                96.0,
                111.43,
                106.0,
                142.0,
                140.0,
                71.0,
                106.0,
                154.57,
                88.48,
                98.0,
                89.0,
                115.0,
                103.34,
                107.4,
                176.07,
                127.0,
                141.0,
                95.0,
                142.0,
                127.41,
                145.0,
                105.0,
                90.0,
                120.0,
                121.0,
                95.77,
                74.96,
                69.0,
                78.29,
                88.66,
                91.46,
                72.32,
                118.89,
                123.0,
                110.35,
                97.0,
                132.8,
                118.0,
                123.38,
                118.0,
                102.0,
                118.0,
                153.0,
                106.0,
                98.0,
                177.78,
                126.0,
                166.73,
                142.0,
                99.7,
                97.0,
                112.87,
                65.0,
                64.15,
                47.0,
                48.0,
                49.0,
                48.0,
                48.36,
                41.42,
                48.0,
                74.41,
                47.51,
                48.16,
                49.0,
                48.0,
                48.75,
                88.0,
                273.45,
                118.0,
                139.0,
                165.0,
                138.0,
                139.0,
                118.51,
                270.0,
                168.0,
                124.0,
                118.0,
                138.06,
                100.0,
                111.0,
                96.86,
                116.0,
                123.0,
                97.0,
                125.0,
                141.2,
                90.0,
                118.0,
                128.0,
                105.0,
                90.0,
                207.0,
                117.0,
                142.81,
                126.0,
                59.54,
                47.96,
                48.76,
                48.2,
                102.0,
                60.0,
                48.0,
                73.0,
                49.0,
                76.0,
                48.12,
                41.0,
                48.0,
                48.0,
                90.78,
                169.0,
                157.0,
                146.0,
                116.0,
                135.0,
                76.15,
                106.5,
                108.0,
                187.2,
                122.0,
                116.0,
                156.0,
                122.0,
                139.86,
                141.0,
                106.0,
                100.0,
                131.0,
                154.0,
                124.54,
                122.22,
                105.6,
                148.0,
                91.73,
                142.8,
                133.0,
                128.5,
                96.0,
                130.0,
                92.0,
                87.0,
                126.0,
                96.0,
                104.0,
                102.0,
                128.49,
                105.0,
                157.04,
                159.0,
                88.0,
                113.0,
                52.0,
                55.0,
                138.0,
                117.0,
                98.04,
                138.0,
                70.67,
                126.0,
                114.0,
                100.65,
                148.0,
                176.88,
                101.23,
                105.37,
                131.71,
                99.9,
                177.31,
                96.41,
                126.32,
                78.0,
                110.4,
                105.0,
                105.0,
                101.0,
                92.0,
                96.7,
                71.0,
                123.0,
                137.0,
                64.0,
                75.0,
                126.0,
                96.0,
                110.0,
                57.23,
                135.0,
                143.0,
                92.0,
                88.0,
                84.0,
                119.0,
                110.0,
                117.5,
                166.0,
                197.0,
                110.0,
                120.0,
                135.0,
                91.0,
                125.0,
                75.0,
                80.0,
                100.0,
                148.75,
                125.0,
                99.5,
                106.0,
                144.0
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "interval": 1000,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "green"
                }
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "max": 5000,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ],
    "visualMap": {
        "show": true,
        "type": "continuous",
        "min": 0,
        "max": 1000,
        "textStyle": {
            "color": "green"
        },
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "inverse": false,
        "splitNumber": 5,
        "orient": "horizontal",
        "showLabel": true,
        "itemWidth": 20,
        "itemHeight": 140,
        "borderWidth": 0
    }
};
        chart_4c8307fedfc1427d938b47de55431e51.setOption(option_4c8307fedfc1427d938b47de55431e51);
    </script>
</body>
</html>
